<web-app id="WebApp_ID" version="2.4"
    xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <!-- General description of your web application -->
    <display-name>LogService</display-name>
    <description>
        This is the log service
    </description>

    <!-- ******************************* -->
    <!-- SERVLET DEFINITIONS             -->
    <!-- ******************************* -->
    <servlet>
        <description>The logging service (Server)</description>
        <servlet-name>LogServer</servlet-name>
        <servlet-class>org.ei.logservice.LogServer</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <description>The Heartbeat Service</description>
        <servlet-name>HeartbeatService</servlet-name>
        <servlet-class>org.ei.system.HeartbeatService</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <description>Health Check Service</description>
        <servlet-name>HealthCheck</servlet-name>
        <servlet-class>org.ei.system.HealthCheck</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <!-- ******************************* -->
    <!-- SERVLET MAPPINGS                -->
    <!-- ******************************* -->
    <servlet-mapping>
        <servlet-name>HeartbeatService</servlet-name>
        <url-pattern>/servlet/HeartbeatService</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HealthCheck</servlet-name>
        <url-pattern>/servlet/HealthCheck</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LogServer</servlet-name>
        <url-pattern>/servlet/LogServer</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout><!-- 30 minutes -->
    </session-config>
</web-app>
