@CHARSET "ISO-8859-1";

/* .header{
	width:100%;
	min-width:1000px;
	padding-top:10px;
} */

.footer{
	width:100%;
	min-width:1000px;
	height:150px;
	/* /* HH 06/15/2015*/
	
}

body{
	width:100%;
	min-width:1000px;
	height:100%;
	margin:0;
	font-family: Arial, verdana, helvetica, sans-serif;
	font-size: 75%;
}

#logoEV {
	border:0 none;
	display:block;
	margin:0;
	position:relative;
	padding-top: 5px;
	padding-left: 10px;
}

.navigation {
	height: 22px;
	position: relative;
	background-color: #148C75;
	color: #fff;
	border-top: 3px solid #999999;
	border-bottom: 3px solid #D7D7D7;
	width: 100%;
}

.txtLarger {
font-size: 1.17em;
}

.tabnav { font-size:12px; text-align: left; margin: 1em 0 1em 0; border-bottom: 1px solid #6C6; list-style-type: none; padding: 3px 10px 3px 10px; font-weight: bold}
 .tabnav li.tab {border-bottom: 1px solid white; background-color: white; display: inline; }
 .tabnav li.active {position:relative; top:1px}
 .tabnav li a { padding: 3px 6px; border: 1px solid #6C6; background-color: #CFC; color: #666; margin-right: 0px; text-decoration: none; border-bottom: none;}
 .tabnav li.active a { font-size:14px; background-color: #fff; color: #000;}

.maincontainer{
	width:100%;
	min-width:1000px;
	
	min-height:100%;
	position:relative;
	
}

/* HH for navigator links in left sidebar*/
.navlinks
{
	font-size: 1.2em;
	list-style-type: none;
	padding-left: 6px;
}
.navlinks li
{
	padding-bottom: 10px;
}
.navlinks a
{
	text-decoration: underline;
	color: #FFFFFF
	
}



.navlinks a:HOVER
{
	color: #00008B;
	background-color: #F8F8FF;
	font-size: 1.0em;
	
}

.navlinks a:FOCUS
{
	color: red;
	background-color: #F8F8FF;
	font-size: 1.0em;
	
}




.navlinkstable td
{
	padding-bottom: 20px;
}

/* END*/


/*I comment out  to use same name*/
/* .innercontainer{
	padding-left:10px;
} */

a {
	color: #0156AA;
	text-decoration: none;
	border: none;
}

#messagecontainer{
	font-weight: bold;
	color: #148C75;
	margin: 3px;
}

#ddcontainer{
	width:100%;
}
#tblcontainer{
	width:99%;
}
h2 {
  	font-size: 14px; padding: 0;
}
.keystyle{
	font-weight:bold;
}
.keyaction{
	
	border-left: 0px;
}
.keyactionvalue{
	border-right: 0px;
}
table.dataTable td { background-color: #E6E6B8;}
table.dataTable tr { background-color: #ADD6C2;  }
#envprops_table_filter input {
  background-color: #f2ecdd;
}
#envprops_table_filter label {
  font-weight:bold;
}
select{
	/*  background:#D8D8D8; */
	 background:white;
}
option:not(:checked) { 
    /* background-color: #D8D8D8;  */
    background:white;
}

option:(:checked) { 
    /* background-color: #D8D8D8;  */
    background:white;
}



#envprops_table{
	table-layout: fixed; 
	word-wrap:break-word;
}
.toolbar{
	float:left;
	color:#B22400;
	font-weight: bold;
}
/*** HH for using diff style for table ****/
/* table {border: 1px solid #ababab; float:none}
table td {padding: 2px 7px; border: 1px solid #ababab; border-collapse: collapse; word-wrap: break-word; max-width: 500px} */