@CHARSET "ISO-8859-1";

body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: #ffffff;; 
    padding: 0px;
}

#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
    border-style:solid;
    border-width:thin;
    border-color:blue;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;   
    flex-wrap: wrap;
}

h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 18px;
    padding: 2px;
    margin:0px;
    display: inline;
}

copyright
{
	font: italic bold 12px/30px Georgia, serif;
	
}

ul li {
	color: #000000;
	margin: 0 0 16px 0;
}

ul.innerlist{
	list-style-type: square;
	margin: 0 0 0 0;
}

#report {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    padding-left: 85px;
    padding-right: 4px;
    
}

#ts
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 90%;
    border-collapse: collapse;
    padding-left: 80px;
	table-layout: auto;
	margin-top: 0px;
	table-layout: fixed;
	
}

#report td, #report th {
    font-size: 1em;
    border: 1px solid #D3D3D3;
    padding: 3px 7px 2px 7px;
}

#ts td, #ts th {
    font-size: 1em;
    border: 1px solid #D3D3D3;
    padding: 3px 7px 2px 7px;
    
    white-space: -o-pre-wrap; 
    word-wrap: break-word;
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
}



#report th, #ts th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #E6E6FA;
    color: #191970;
}

#report tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}


#report caption, #ts caption {
	color:#191970;
	background-color: white;
	font-weight: bold;
	font-family: cursive;
	font-size: 1.2em;
	text-align: center;
	 padding-top: 5px;
	 padding-bottom: 6px;
	 width: 600px;
   	
}

#report tfoot {
	font-size: 1.2em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #E6E6FA;
    color: #000080;
    font-weight: bold;
}


#theader
{
	background-color: #ADD8E6;
	font-family: Book Antiqua;
	font-size: 16px;
	font-weight: bold;
	width:250px;
}



#dba td
{
	padding-right: 100px;
	vertical-align: top;
}


/* select.custom-dropdown {
 -webkit-appearance: none;  REMOVES DEFAULT CHROME & SAFARI STYLE
 -moz-appearance: none;  REMOVES DEFAULT FIREFOX STYLE
 border: 0 !important;  REMOVES BORDER

 background-color: #0d98e8;
 color: #fff;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 font-size: 14px;
 padding: 10px;
 width: 35%;
 cursor: pointer;
} */

/* .report_menu
{
	width:20px;
	height:80%;
	background-color:#148C75;
	border-top: 3px solid #999999;
	border-bottom: 3px solid #D7D7D7;
}
*/
/* table
{
	width:20%;
	height:100%;
	border: 1px solid #999999;
	table-layout: fixed;
	background-color: #F8F8F8;
	
}

.th{
	text-align: left;
}
 

. left-menu{
	margin:0px;padding:0px;
	border:1px solid #999999;
	background-color: #F8F8F8;
	froegroubd-color: #A8A8A8;
	height:100%;
	width:10%;
}
.left-table
{
	width:10%;
	height:100%;
	background-color:red;
}
#slideout {
    position: fixed;
    left: 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#slideout_inner {
    position: fixed;
    left: -250px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}


.reportmenu {
	margin:0px;padding:0px;
	width:20%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.reportmenu table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.reportmenu tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.reportmenu table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.reportmenu table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.reportmenu tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.reportmenu tr:hover td{
	
}
.reportmenu tr:nth-child(odd){ background-color:#ffaa56; }
.reportmenu tr:nth-child(even)    { background-color:#ffffff; }.reportmenu td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}.reportmenu tr:last-child td{
	border-width:0px 1px 0px 0px;
}.reportmenu tr td:last-child{
	border-width:0px 0px 1px 0px;
}.reportmenu tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.reportmenu tr:first-child td{
		background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);

	background-color:#ff7f00;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.reportmenu tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);

	background-color:#ff7f00;
}
.reportmenu tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.reportmenu tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}  */