<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- This is a Configuration-file example, which can be used with the DOMConfigurator to use the JDBCAppender -->
<!-- author : Thomas Fenner (t.fenner@klopotek.de) -->

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
	        <appender-ref ref="OLD-JDBC"/>
	        <appender-ref ref="ALS-JDBC"/>
	<!--<appender-ref ref="CONSOLE"/>-->
		<appender-ref ref="FILE"/>
	</appender>
	<!-- Declare a appender variable named JDBC, which is a class of JDBCAppender, which writes messages into a database -->
	<appender name="OLD-JDBC" class="com.klopotek.utils.log.JDBCAppender">
	
		<!-- 1. Options for connecting to the database. (Use 1a OR 1b OR both) -->
		
		<!-- 1a. Database-options to connect to a specific database. (optional)  -->
		
		<param name="url" value="jdbc:oracle:thin:@e3000.ei.org:1521:vill" />
		<param name="username" value="log" /> 
		<param name="password" value="devel" />
		

		<!-- 1b. Connector-option to specify your own JDBCConnectionHandler. If the Database-Options are given, the handler is called with the desired database-params. (optional) -->
		<param name="connector" value="org.ei.logging.MyPoolConnectionHandler" /> 
				

		<!-- 2. Options for generating insert-statements (Use 2a OR 2b OR 2c) -->
		
		<!-- 2a. SqlHandler-option to specify your own JDBCSqlHandler -->
		<param name="sqlhandler" value="org.ei.logging.MySqlHandler" />

		<!-- 2b. SQL-option to specify a static sql-statement which will be performed with every occuring message-event -->
		<!-- Use wildcards @INC@, @PRIO@, @CAT@, @THREAD@, @MSG@ for dynamic replacement. See JavaDoc for further description -->
		<!-- <param name="sql" value="INSERT INTO LOGTEST (id, prio, cat, thread, msg, created_on, created_by) VALUES (@INC@, @PRIO@, @CAT@, @THREAD@, @MSG@, sysdate, 'me')" /> -->
		
		<!-- 2c. Options to specify the table and describe the important columns. Not nullable columns are mandatory to describe ! -->
		<!-- For column-param use the syntax column-name~LogType~value -->
		<param name="table" value="village_log" /> 
		<!-- <param name="column" value="id~ID~MyIDHandler" /> 
		<param name="column" value="prio~PRIO" /> 
		<param name="column" value="cat~CAT" /> 
		<param name="column" value="thread~THREAD" /> 
		<param name="column" value="msg~MSG" /> 
		<param name="column" value="info~DYNAMIC~MyColumnHandler" /> 
		<param name="column" value="created_on~TIMESTAMP" /> 
		<param name="column" value="created_by~STATIC~me" />  -->

		<!-- 3. Buffer-option to define the size of the message-event-buffer (optional, default is 1) -->
		<!-- <param name="buffer" value="10" /> -->

		<!-- 4. Commit-option to define a auto-commitment (optional, default is Y) -->
		<!-- <param name="commit" value="Y" /> -->

		<layout class="org.apache.log4j.PatternLayout">
		  	<param name="ConversionPattern" value="%m" /> 
		</layout>
	</appender>

	<!-- Declare new JDBC a appender  -->
	<appender name="ALS-JDBC" class="com.klopotek.utils.log.JDBCAppender">
	
		<!-- 1b. Connector-option to specify your own JDBCConnectionHandler. If the Database-Options are given, the handler is called with the desired database-params. (optional) -->
		<param name="connector" value="org.ei.logging.MyPoolConnectionHandler" /> 
				

		<!-- 2. Options for generating insert-statements (Use 2a OR 2b OR 2c) -->
		
		<!-- 2a. SqlHandler-option to specify your own JDBCSqlHandler -->
		<param name="sqlhandler" value="org.ei.logging.ALSSqlHandler" />


		<!-- 3. Buffer-option to define the size of the message-event-buffer (optional, default is 1) -->
		<!-- <param name="buffer" value="10" /> -->

		<!-- 4. Commit-option to define a auto-commitment (optional, default is Y) -->
		<!-- <param name="commit" value="Y" /> -->

		<layout class="org.apache.log4j.PatternLayout">
		  	<param name="ConversionPattern" value="%m" /> 
		</layout>
	</appender>
	
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<!-- <param name="target" value="System.out" /> -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m\n" />
		</layout>
	</appender>
	

	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
   		<param name="File" value="{{LOGS_DIR}}logservice.log"/>
   		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
   		<layout class="org.apache.log4j.PatternLayout">
          		<param name="ConversionPattern" value="%m\n"/>
   		</layout>
 	</appender>

	<root>
		<appender-ref ref="ASYNC" /> 
	</root>
	
</log4j:configuration>

