<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>Engineering Village XML data service</display-name>
  <description>
    	This is an XML data service for Engineering Village.  It can service requests for EV-based content (search results, abstracts, etc.).
    </description>
   <!-- ******************************* -->
    <!-- INITIALIZATION LISTENER         -->
    <!-- ******************************* -->
    <listener>
        <listener-class>org.engvillage.web.servlet.EngvillageInitializationListener</listener-class>
    </listener>

    <!-- ******************************* -->
    <!-- SERVLET FILTER                  -->
    <!-- ******************************* -->
	<filter>
	    <filter-name>LogFilter</filter-name>
	    <filter-class>
	        org.engvillage.web.servlet.LogFilter
	    </filter-class>
	</filter>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ConfigService</servlet-name>
    <servlet-class>org.engvillage.web.servlet.ConfigService</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>HeartbeatService</servlet-name>
    <servlet-class>org.engvillage.web.servlet.HeartbeatService</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeartbeatService</servlet-name>
    <url-pattern>/servlet/HeartbeatService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfigService</servlet-name>
    <url-pattern>/servlet/ConfigService</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>