* p {
	padding-bottom:5px;
	padding-top:5px;
}


dl, dd {
	/* nothing yet */
}

#welcomewrap {
	border-bottom: 2px solid #3173B5;
    padding: 0 0 10px 0.05in;
    width: 955px; 
}


#welcome {
	margin-top:0.10in;
	float:left;
	width:635px;
}

#welcome ul li, #learnabout ul li {
	list-style:;
	list-style-image:url(/static/images/triangle.png);
	line-height:1.4;
	margin-left: 15px;
}

h1 {
	font-size: 1.8em;
}

h1 a {
	display:block;
	text-decoration:none;
	color: #000000;
}

h2 {
	color: #000000;
	font-size: 1.4em;
}
h2 a {
	display:block;
	text-decoration:none;
	color: #000000;
}

h3 {
	overflow:hidden;
	font-size: 1.2em;
	color: #000000;
}
h3 a {
	display:block;
	text-decoration:none;
	color: #000000;
	height:20px;
}

#contentmain {
	margin-right:.50in;
	margin-left:.50in;
	clear:both;
}

#content_right {
	float:left;
	padding-left:40px;
	width: 280px;
}

#regusers {
	margin-top:0.10in;
	border: 1px solid #148C75;
	padding:0.10in;
	width:256px;
}

#evoptions {
	float:left;
	margin-top:0.10in;
}

#evoptions h3 {
	margin-top:0.10in;
	margin-bottom:0.10in;
}

#resources {
	margin-top: 12px;
	padding: 7px 7px;
	background-color:#e0e3ea;
	border: 1px solid #ababab;
}
	
#resources input.button { width: 200px; margin-left: 0;}
#resources #nav_tour {padding-top: 12px;}
#resources #nav_trial {padding-top: 12px;}

#learnabout {
	margin: .15in 0 0 0.05in;
	clear: both;
}
#learnabout dt span {
	height:20px;
	visibility:hidden;
}

#learnabout dl {
	width:45%;
	float:left;
	margin-top: 7px;
}
#learnabout #rightside {margin-left: 10px}

#regusers #login {display:none}
#regusers #loginBox {position: relative; right: 0; top: 0 !important; border: none; width: auto; background: none !important}
#regusers #loginBox .padding {padding: 5px 0}
#regusers #loginBox p.forgotpass {margin: 0}
#regusers #login-box-form label span {padding-right: 5px;}
#regusers #login-box-form p.submit {position: absolute; top: 34px !important; right: 19px !important;}
