/*
* Styles for the search abstract page
*/

#contents {margin: 0 auto; width: 1024px; margin-top: 15px; text-align: center}
#contents #askwrapper {width:925px; margin:0 auto;}
#contents .expertbox {border: 1px solid #148C75; margin: 0 45px 15px 0; float:left; width: 276px; height: 370px; text-align: left}
#contents .expertbox .title {padding-left: 12px; color: white; font-weight: bold; font-size: 16px; background-color: #148C75; line-height: 45px}
#contents .expertbox .body {padding: 7px 15px; font-size: 14px}
#contents .expertbox .body p {margin-bottom: 7px}
#contents .expertbox .body ul {padding: 0; margin:0 15px}
#contents .expertbox .body li {padding: 0; margin-bottom:7px}

#part_askanengineer {display:none; z-index: 1}
#part_askaproductspecialist {display:none; z-index: 2}
#part_askalibrarian {display:none; z-index: 3}

#part_askanengineer table {width: 1024px}

.Layer table {width: 972; margin-top: 7px}
.style1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;}
.style2 {font-size: 14px; font-weight: bold;}

input.emaillink {margin-top: 7px}

div#part_askaanengineer a , div#part_askaproductspecialist a , div#part_askalibrarian a {font-weight: bold;}
div#part_askaproductspecialist * { text-align: left}
div#part_askaproductspecialist li.styleunderlined, p.style5 {font-weight:bold; font-size: 12px}
div#part_askaproductspecialist a.style1 { display:block; margin: 7px 0 12px}
div#part_faqcontents {text-align: left}