/*
* Styles for the search abstract page
*/


div.hr { border: none; color: #D7D7D7; background: #D7D7D7; overflow:hidden}
hr {display:none};

#abstractbox {width:100%;}

#abstractnavbar { line-height: 16px; margin: 10px 10px 7px}
#abstractnavbar a { margin-right: 7px}
#abstractnavbar > span { float:left; margin-right: 7px}

#abstractnavbar a.newsearch{ padding-left: 22px; background: url("/static/images/NewSearch.png") no-repeat scroll 0 50% transparent;}
#abstractnavbar a.newsearch:hover { background-image: url("/static/images/NewSearch_On.png")}

#abstractnavbar a.history { padding-left: 22px; background: url("/static/images/SearchHistory.png") no-repeat scroll 0 50% transparent;}
#abstractnavbar a.history:hover { background-image: url("/static/images/SearchHistory_On.png")}

#abstracttoolbar { line-height: 16px; margin: 7px 0 }
#abstracttoolbar a { margin-right: 7px}
#abstracttoolbar > span { float:left; margin-right: 7px}
#abstracttoolbar a.email {padding-left: 22px;background: url("/static/images/Email.png") no-repeat scroll 0 50% transparent; margin-left:0}
#abstracttoolbar a.email:hover {background-image: url("/static/images/Email_On.png")}
#abstracttoolbar a.print {padding-left: 20px;background: url("/static/images/Print.png") no-repeat scroll 0 50% transparent;}
#abstracttoolbar a.print:hover {background-image: url("/static/images/Print_On.png")}
#abstracttoolbar a.download{padding-left: 20px;background: url("/static/images/Download.png") no-repeat scroll 0 50% transparent;}
#abstracttoolbar a.download:hover {background-image: url("/static/images/Download_On.png")}
#abstracttoolbar a.blog {padding-left: 22px;background: url("/static/images/Blog.png") no-repeat scroll 0 50% transparent;}
#abstracttoolbar a.blog:hover {background-image: url("/static/images/Blog_on.png")}
#abstracttoolbar a.save {padding-left: 20px;background: url("/static/images/SavetoFolder.png") no-repeat scroll 0 50% transparent;}
#abstracttoolbar a.save:hover {background-image: url("/static/images/SavetoFolder_On.png")}

.downloadSpan {padding-left: 20px;background: url("/static/images/Download.png") no-repeat scroll 0 50% transparent;}

#abstractwrapper {margin: 0 10px; min-width: 1020px; width: 100%}
#abstractwrapperpage {margin: 0 10px; min-width:995px width: 100%}
#rhcolumn {padding: 10px 20px 0 10px; vertical-align: top;width: 355px; }
#lhcolumn {vertical-align: top; padding-right: 15px}

#tabs {margin:0 padding:0;width: 100%;z-index: 102;}
#tabs ul {line-height: 22px;list-style: none outside none; margin:0;padding:0; z-index: 102; }
#tabs ul li {float: left;margin: 0 5px 0 0;padding: 0;}
#tabs ul li a {
	border-left: 1px solid #9b9b9b;
    border-right: 1px solid #9b9b9b;
    border-top: 1px solid #9b9b9b;
    position: relative;
    z-index: 102;
    color: black;
    padding: 7px 10px 5px;
    line-height: 30px;
    font-size: 14px
}
/* #tabs ul li a.active {font-weight: bold; border-top: 3px solid #3273B5; padding-top: 5px; background-color: white} */
#tabs ul li a.active {
	font-weight: bold;
	color: #148C75;
	background-color: white;
	font-size: 16px;
	padding: 5px 10px 4px;
	*padding: 5px 10px 3px;
    line-height: 30px;
}

#abstractarea {float: left; border: 1px solid #9b9b9b; margin: 0; padding:7px; width:99%;position:relative; top: -3px; _top:-5px}
#abstractarea p.topline {margin:0 0 7px}
#abstractlayout td {vertical-align: top;line-height: 14px; padding: 0 5px 0 0; margin:0}
#abstractlayout p {margin: 7px 7px 0 0; line-height: 14px}
#abstractlayout p.title {font-weight: bold; font-size: 16px; display:inline; margin: 0 7px 0 0; line-height: 18px;}
#abstractlayout p.sectionstart {clear:both; margin: 18px 6px 0 0px}
#abstractlayout img, #abstractlayout input {position:relative; top:1px; margin:0; padding:0}

#deliverylinks {margin: 10px 0}
#deliverylinks #deliveryheader {line-height: 18px; margin: 0; padding: 3px 7px; background-color: #D7D7D7; font-weight: bold; font-size: 12px}
#deliverylinks #deliverybody {margin-top: 7px; line-height: 16px}
#deliverylinks #deliverybody p {margin: 0; padding-bottom: 5px}

#abstractarea a.emaillink img {padding: 0; margin: 0;position:relative; top:-3px}

#detailed {border:none;margin-left: 7px}
#detailed p {margin: 0}
#detailed tr {vertical-align: top;}
#detailed tr td {padding-right: 7px; line-height: 16px}
#detailed tr td.label {white-space: nowrap; text-align: right; font-weight: bold}
#detailed tr td.label h2 {font-size: 12px}
#detailed td.ipcdescription ul {padding:0;margin:0 15px;}

#map {
	background-color: #E7E3EF;
    border: 2px solid #ADAAAD;
    clear: both;
    left: 260px;
    position: absolute;
    top: 200px;
    width: 620px;
    z-index: 1;
}
#map p { padding: 5px }

#rhcolumn .toolbox {border: 1px solid #006370; padding: 0; margin: 0}
#rhcolumn .toolbox p {margin: 7px 7px 0}
#rhcolumn .toolbox .double {margin-bottom: 12px}
#rhcolumn .toolbox .bottom {margin: 7px 0 0; padding: 5px 7px; line-height: 20px; font-weight:bold; background-color: #e0e3ea;}

#rhcolumn #citedby_box .title {margin: 0; padding: 0; line-height: 30px; font-size: 16px; font-weight:bold; background-color: #006370; color: white;}
#rhcolumn #citedby_box .scopustitle {margin-top: 2px; font-weight: bold}
#rhcolumn #citedby_box .sourceinfo {margin-top:2px}
#rhcolumn #citedby_box .authordetail {margin:0 0 3px 7px; padding:0}

#rhcolumn #tagsgroups {border: 1px solid #9B9B9B; padding: 0; margin: 10px 0 0 0;background-color: #e0e3ea}
#rhcolumn #tagsgroups .title {padding: 0; line-height: 16px; font-size: 14px; font-weight:bold; background-color:inherit; height: 18px; font-color: black; color: black}

#rhcolumn #references_box {border: 2px solid #148C75; padding: 0; margin: 0}
#rhcolumn #references_box p:FIRST-CHILD {margin-top:5px}
#rhcolumn #references_box p {margin: 0 5px 5px}


#keycloud .sidebarbox {
	border: 1px solid #148C75;
	margin-bottom:15px;
}

#keycloud .sidebarlist {
	padding: 0;
	margin: 0;
}

#keycloud .sidebartitle
{
	background-color: #148C75;
	line-height: 30px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 0 10px;
}

#keycloud .sidebardata
{
	color: #fff;
	font-size: 16px;
	padding: 0 7px;
}

#bookcloud a.booktag1 { font-size: 0.8em; font-weight: 450; }
#bookcloud a.booktag2 { font-size: 1.0em; font-weight: 470; }
#bookcloud a.booktag3 { font-size: 1.2em; font-weight: 490; }

#rhcolumnpage {padding: 10px 0px 0 0px; vertical-align: top;width: 350px; }
#rhcolumnpage .toolbox {border: 1px solid #006370; padding: 0; margin: 0}
#rhcolumnpage .toolbox p {margin: 7px 7px 0}
#rhcolumnpage .toolbox .double {margin-bottom: 12px}
#rhcolumnpage .toolbox .bottom {margin: 7px 0 0; padding: 5px 7px; line-height: 20px; font-weight:bold; background-color: #e0e3ea;}

#rhcolumnpage #citedby_box .title {margin: 0; padding: 0; line-height: 30px; font-size: 16px; font-weight:bold; background-color: #006370; color: white;}
#rhcolumnpage #citedby_box .scopustitle {margin-top: 2px; font-weight: bold}
#rhcolumnpage #citedby_box .sourceinfo {margin-top:2px}
#rhcolumnpage #citedby_box .authordetail {margin:0 0 3px 7px; padding:0}

#rhcolumnpage #tagsgroups {border: 1px solid #9B9B9B; padding: 0; margin: 10px 0 0 0;background-color: #e0e3ea}
#rhcolumnpage #tagsgroups .title {padding: 0; line-height: 16px; font-size: 14px; font-weight:bold;}

#rhcolumnpage #references_box {border: 2px solid #148C75; padding: 0; margin: 0}
#rhcolumnpage #references_box p:FIRST-CHILD {margin-top:5px}
#rhcolumnpage #references_box p {margin: 0 5px 5px}

#autocompletewrap .ui-autocomplete { width: 150px; z-index: 1; margin:0; padding:0; border: 1px solid #ababab; background-color: snow}
#autocompletewrap .ui-autocomplete .ui-menu-item { list-style-type: none; cursor:pointer}
#autocompletewrap .ui-autocomplete .ui-menu-item:hover { background-color: #ababab}
#autocompletewrap .ui-autocomplete .ui-menu-item a { margin-left: 5px; text-decoration: none}

span.encompassOpenClose {cursor: pointer}
span.encompassOpenClose a.plusminus {font-weight: bold; font-size: 14px; color:black}
span.encompassOpenClose a.plusminus:hover {text-decoration: none}
.abstractContent .abstractSection{    line-height: 14px;
    margin: 7px 7px 0 0;
}
#abstractlayout div.sectionstart {clear:both; margin: 18px 6px 0 0px}