#bulletins_wrapper {clear:both}

#archives_box {float:left; width: 270px; border: 1px solid #ababab; background-color: #e0e3ea; padding: 12px; margin: 0}
#archives_box .title {text-transform: uppercase; font-size: 14px; font-weight: bold; margin-bottom: 7px}
#archives_box ul.select {margin: 0 0 7px; padding: 0; list-style: none}
#archives_box p.subtitle {margin-bottom: 2px; font-weight: bold }
#archives_box p {margin-bottom: 7px }

#display_box {margin: 0 0 20px 320px}
#display_box .title {line-height: 14px; background-color: #e0e3ea; font-size: 16px; font-weight: bold; margin: 0 10px 7px 0; padding: 12px}
#display_box .subtitle {display: block; margin-bottom: 7px; font-weight: bold; color: #148C75; font-size: 14px }
#display_box .bulletintable {margin: 7px 0}
#display_box .bulletintable th.category { width: 220px; white-space: normal}
#display_box .bulletintable td, #display_box .bulletintable th {padding: 0 10px 7px 0; text-align: left}

