#li_search_top {background-color: #148C75; color: white; font-weight: bold; padding: 2px 0}
#li_search_top .li_search_word {float:left; margin-right: 15px}
#li_search_top .li_search_word input[type="text"] {width: 7em}
#li_search_top .li_search_index {float:right; margin-right: 5px}

#li_sequence {padding-top: 5px}
#li_sequence div {padding-bottom: 5px}
#li_sequence a {text-decoration: underline; font-weight: bold}
#li_sequence #alpha_list_main {}
#li_sequence #alpha_list_sub {}


.li_selectterms {padding-bottom: 2px; background-color: #C3C8D1}
.li_selectterms .backtotop{float:left; margin-left: 7px; padding-top: 2px}
.li_selectterms .pagenav {float:right; margin-right: 5px; padding-top: 2px}

#li_display {}
#li_display #li_list {list-style: none; padding:0; margin:0}
#li_display #li_list li {padding-left: 7px}

.pagenav a {text-decoration:none;}
.pagenav a.next {padding-left: 15px}
a.nolink {color: black; text-decoration: none}
a.nolink span.substring {color: #148c75; text-decoration: none; font-weight: bold}
a.nolink span.li_db {font-size: 10px;color: #194DB5; margin-left: 5px}