/*
* Styles for the delivery pages (email/print/download)
*/
#deliverywrap {margin: 7px}
#deliverywrap p {margin: 5px 0}
#deliverywrap .headertext {font-size: 16px; font-family: arial,verdana,geneva; color: #014D99; font-weight: bold;}
#deliverywrap ul#notes {margin:0; padding:0; }
#deliverywrap ul#notes li {margin: 5px 0 0 30px}

#deliverywrap #emailtablewrap {width: 100%}
#deliverywrap #emailtable {border: 2px solid #3173B5; width: 300px; }
#deliverywrap #emailtable td {padding: 5px; vertical-align: middle; white-space: nowrap; }
