#folders h1 {margin: 5px 0;font-size: 1.8em;}
#folders #folderaction {border: 2px solid #ababab;min-width: 500px;margin: 15px 0 10px 16px;width: 70%;}
#folders #folderaction p {margin: 3px 0 0 7px}
#folders label {width: 130px;display: block;float: left;}

#folders a.viewfolder {padding-left: 20px;background: url("/static/images/Magnifying_glass.png") no-repeat scroll 0 50% transparent;}
#folders a.viewfolder:hover {background-image: url("/static/images/Magnifying_glass_over.png")}
#folders a.renamefolder {padding-left: 20px;background: url("/static/images/Rename_Tag.png") no-repeat scroll 0 50% transparent;}
#folders a.renamefolder:hover {background-image: url("/static/images/Rename_Tag_On.png")}
#folders a.deletefolder {padding-left: 20px;background: url("/static/images/Delete.png") no-repeat scroll 0 50% transparent;}
#folders a.deletefolder:hover {background-image: url("/static/images/Delete_On.png")}

