#searchformwrap {
	padding: 0;
	margin: 0;
	white-space: nowrap;
	/*height: 499px;*/
	width: 1140px;
	min-height: 0px;
}

#buttonsbottom { width:682px; min-width: 682px} 
#buttonsbottom div { width:120px; min-width: 120px}
