.title {width:774px; border: 1px solid #ABABAB; vertical-align: middle;background-color: #148C75; color: white; font-size: 16px; font-weight: bold; padding: 10px 7px;}

#profiletable {width: 790px; padding: 0; margin: 0; text-align: left; border: 1px solid #ABABAB;}
#profiletable th {white-space: nowrap;background-color: #BBDAD2; font-size: 12px; font-weight: bold; padding: 2px 7px; border-right: 1px solid #ABABAB; vertical-align: middle; line-height: 20px}
#profiletable td {padding: 2px 7px; border-right: 1px solid #ABABAB; border-top: 1px solid #ABABAB}
#profiletable .name {width: 300px; white-space: nowrap}
#profiletable td.name{ font-weight: bold; font-size: 12px}
#profiletable .savedalerts {width: 70px}
#profiletable .savedsearches {width: 70px}
#profiletable .savedtags {width: 70px}
#profiletable .savedtaggroups {width: 70px}
#profiletable .savedgroups {width: 70px}
#profiletable .savedfolders {width: 70px;}
#profiletable .selected {width: 50px; padding-left:30px;}

hr.divider {
    background-color: #D7D7D7;
    border: medium none;
    color: #D7D7D7;
    height: 2px;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 99%;
}

h2{
	color: #000000;
    font-size: 16px;
    font-weight: bold;
}

.greySpace{
	width:774px;
	background-color:#E0E3EA;
	height:7px;
	padding:0px 7px;
	border-right:1px solid #ABABAB;
	border-left:1px solid #ABABAB;
}