.googledl{
	background:url(/static/images/drive_icon_sm.png) no-repeat scroll 0 50% transparent;
	background-position:left;
}
.dropboxdl{
	background:url(/static/images/dropbox_icon_sm.png) no-repeat scroll 0 50% transparent;
	background-position:left;
}
.refworksdl{
	background:url(/static/images/refworks_icon_sm.png) no-repeat scroll 0 50% transparent;
	background-position:left;
}
.mypcdl{
	background:url(/static/images/Download.png) no-repeat scroll 0 50% transparent;
	background-position:left;
}
#oneclickDL{
	margin-left:16px;
	cursor:pointer;
	font-weight:bold;
}

.editDLSettings{
	background:url(/static/images/dwn_arrow.png) no-repeat scroll 0 50% transparent;
	color:#E0E3EA;
}
.editDLSettings:hover{
	background:url(/static/images/dwn_arrow_on.png) no-repeat scroll 0 50% transparent;
	text-decoration:none;
	color:#E0E3EA;
}
.transText{
	opacity:.05;
	font-size:1px;
	color:#E0E3EA;
}
#downloadli{height:15px;}
span#downloadli #downloadlink {padding-right:14px;}