/*
* Styles for the search results page
*/
#resultsbox {min-width: 1060px;}

#resultsoptions { line-height: 1.4em; min-width: 1060px;}

#querydisplaywrap { background-color: #BBDAD2; margin:7px;}
#querydisplay { background-color: #BBDAD2; padding: 0 7px; float: left; clear: both;}

#querydisplay .plusminus {color: black;}
#querytext {color:#0156AA; font-weight: bold; margin-bottom: 7px}
.pagenav {float:right; height: 28px; margin-bottom:5px; width:100%}
.recordperpage {padding-left:256px; padding-top:5px; text-align:left; float:left;}
.pagenavspan {padding-right:8px; padding-top:4px; text-align: right; float:right;}


#optionnav li a {margin-left: 22px; color:black; }
#optionnav li {margin: 0 15px 5px 0; line-height: 20px; }


#optionnav .new {background: url("/static/images/NewSearch.png") no-repeat scroll 0 50% transparent;}
#optionnav .new:hover {background-image: url("/static/images/NewSearch_On.png")}

#optionnav .edit {background: url("/static/images/Edit.png") no-repeat scroll 0 50% transparent;}
#optionnav .edit:hover {background-image: url("/static/images/Edit_On.png")}

#optionnav .savesearch {background: url("/static/images/SaveSearch.png") no-repeat scroll 0 50% transparent;}
#optionnav .savesearch:hover {background-image: url("/static/images/SaveSearch_on.png")}

#optionnav .savedsearch {padding-right:3px; padding-bottom: 2px;}

#optionnav .createalert { background: url("/static/images/CreateAlert.png") no-repeat scroll 0 50% transparent;}
#optionnav .createalert:hover { background-image: url("/static/images/CreateAlert_on.png")}

#optionnav .createdalert {padding-right:4px; padding-bottom: 2px;}

#optionnav .rssfeed { background: url("/static/images/RSSfeed.png") no-repeat scroll 0 50% transparent;}
#optionnav .rssfeed:hover { background-image: url("/static/images/RSSfeed_on.png")}
#optionnav .history { background: url("/static/images/SearchHistory.png") no-repeat scroll 0 50% transparent;}
#optionnav .history:hover { background-image: url("/static/images/SearchHistory_On.png")}
#optionnav .showmap { background: url("/static/images/Map.png") no-repeat scroll 0 50% transparent;}
#optionnav .showmap:hover { background-image: url("/static/images/Map_On.png")}

#facetcol{width: 233px; float:left; margin-left: 7px; margin-top: -30px;}
#knovelcol {width: 233px; padding-top:10px;}
#knovelcol .knovelsearch {border: 1px solid #adaaad;background-color: #e7e3ef;padding-top: 7px;padding-left:5px; padding-right:5px;padding-bottom:5px;margin-top: 5px;margin-bottom: 5px;height: 25px;}
#facet_refine {margin-top: 10px; padding: 0 5px; border: 1px solid #adaaad; border-bottom: none; background-color: #e7e3ef;}
#facet_refine p.buttons {margin-top: 6px}

#facetcol .facetbox {border: 1px solid #adaaad; border-bottom: none; }
#facetcol .facetbox input {margin:0; padding:0;}
#facetcol .facetbox .facetheader, .facet_overlay_box .facet_overlay_header {background-color: #e7e3ef; padding: 2px 5px 0; margin:0}
#facetcol .facetbox .facetheader .facettitle, .facet_overlay_header .facettitle {float:left; width: 156px}
#facetcol .facetbox .facetshowhide, .facet_overlay_box .facet_overlay_showhide {color: black;text-decoration: none; cursor: pointer;}
#facetcol .facetbox .facetheader .facetheader_links, .facet_overlay_header .facetheader_links {float:right; margin:0; padding:0; text-align: right}


.facet_overlay_box{
	width:875px;
	position:absolute;
	background:#FFFFFF;
	z-index:99999;
	left:0;
	margin-left: 7px;
	border: 1px solid #adaaad;
	padding-bottom:10px;
}

.overlayUL{
width:200px;
list-style: none;
padding: 0;
margin: 0;
padding-left: 4px;
float:left;

}
.facet_overlay_entries{
	font-size:.92em;
}

.overlayValue{
	width:90%;
}

.overlayValue label{
	width:80%;

}
.overlayRightBorder{
	padding-right: 14px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: rgb(211, 211, 211);
}
.facet_moreless_overlay{float:left;padding-left:8px;padding-top:12px;}

.w10{
	width:10%;
}


.alignTextCenter{text-align:center}



#facetcol #facetsortable{margin:0; padding:0; border-bottom: 1px solid #adaaad;}

#facetcol .facetentry {margin:0; padding:0; clear:both; border:0; width:100%;}
#facetcol .facetentry tr {margin:3px 0; padding:0;}
#facetcol .facetentry td {margin: 0; padding:0; vertical-align: top;}
#facetcol .facetentry td input {height: 14px; width: 14px}
#facetcol .facetentry td.facetentry_ck {width:17px; padding-left: 5px}
#facetcol .facetentry td.facetentry_label{padding-left: 5px; width:99%}
#facetcol .facetentry td.facetentry_count{text-align:right; padding-right: 5px}


#facetcol .facet_moreless {padding: 0 0 3px 5px}

#facet_append {border: 1px solid #adaaad; border-bottom: none; background-color: #e7e3ef;}
#facetsearch {padding: 5px;border: 1px solid #adaaad;background-color: #e7e3ef;border-top:0px}
#facetsearch #facetsearchterm {width: 145px}
#facetsearch p.inputs {margin: 6px 0 3px 0}

.facet-sortable-placeholder { border: 1px dashed red; padding: 2px; visibility: visible; height: 20px}

#resultswrapper {float: left; width:100%}
#resultsarea {float: left; border: 1px solid #adaaad; min-width: 745px; width: 745px; margin: 0 7px 0 15px}
#dudupresultsarea {float: left; border: 1px solid #adaaad; width: 1245px; margin: 0 7px 0 10px}
#tagresultsarea {border: 1px solid #adaaad; min-width: 1024px; witdth: 100%; margin: 0 7px 0 10px}

#resultsmanager {background-color: #E0E3EA; border-bottom: 1px solid #adaaad; width:100%; height: 54px}
#resultsmanager.patentrefs {height: 30px}
#resultsmanager input {position: relative; top: 1px; margin: 0 2px 0 0; padding:0}
#resultsmanager label {margin: 0; padding:0}


#toolbar {float: left; margin: 3px; padding: 4px 7px; border-left: 1px solid #7A7A7A; height: 40px; min-width:500px;}

#toolbar.patentrefs {height: 16px;}
#toolbar .col {float:left; padding:3px 10px; margin: 0; border:none; background:none}
#toolbar input[type="button"] {position: relative; top: -2px}

#sortby { white-space: nowrap;}
#sortbyinnerdiv{margin-right: 10px;text-align: right;padding-top: 10px;}

#toolbar ul {height: 10px}
#toolbar ul li {margin: 0 0 0 7px; padding: 0}
#toolbar #pageformat li { margin-left: 0}

#toolbar #outputtools li a {padding: 0 5px }

#toolbar #outputtools .email {background: url("/static/images/Email.png") no-repeat scroll 0 50% transparent; margin-left:0}
#toolbar #outputtools .email a {margin-left: 22px;}
#toolbar #outputtools .email:hover {background-image: url("/static/images/Email_On.png")}
#toolbar #outputtools .print {background: url("/static/images/Print.png") no-repeat scroll 0 50% transparent;}
#toolbar #outputtools .print a {margin-left: 18px;}
#toolbar #outputtools .print:hover {background-image: url("/static/images/Print_On.png")}
#toolbar #outputtools .download {background: url("/static/images/Download.png") no-repeat scroll 0 50% transparent;}
#toolbar #outputtools .download a {margin-left: 16px;}
#toolbar #outputtools .download:hover {background-image: url("/static/images/Download_On.png")}
#toolbar #outputtools .save {background: url("/static/images/SavetoFolder.png") no-repeat scroll 0 50% transparent;}
#toolbar #outputtools .save a {margin-left: 18px;}
#toolbar #outputtools .save:hover {background-image: url("/static/images/SavetoFolder_On.png")}
#toolbar #outputtools .view a {margin: 0; padding: 0}
#toolbar #outputtools .removedups {background: url("/static/images/EV_removeduplicate.png") no-repeat scroll 0 50% transparent ;}
#toolbar #outputtools .removedups:hover {background-image: url("/static/images/EV_removeduplicate_rollover.png")}
#toolbar #outputtools .removedups a{margin-left: 18px;}

#resultslist .select { float:left; padding-left: 5px; line-height: 1.8em; margin-top:8px; *margin:0}
#resultslist .odd { background-color: #e0e3ea;}
#resultslist .title { line-height: 1.4em; margin-bottom: 5px; }
#resultslist .resultcontent { float:left;  width: 92%; padding: 0 7px}
#resultslist .resultcontent p { margin: 4px 0}
#resultslist .resultcontent p.authorwrap > span.nospace { float:left}
#resultslist .resultcontent .externallink { font-weight: bold}
#resultslist .resultcontent .abstractpreview { font-weight: bold}
#resultslist .resultcontent .previewtext { display:none}
#resultslist input[name='cbresult'] {margin:0 3 0 0px}

#dedupbox {margin: 7px 20px 20px 7px;}
#dedupbox p {margin: 3px 0; line-height: 1.4em}
ul.fieldpreferenceslist {list-style-type:none; list-style:inside; margin:0; padding:0}
ul.fieldpreferenceslist li {list-style: none inside none; margin:0; padding:0}

#map {
    background-color: #E7E3EF;
    border: 2px solid #ADAAAD;
    clear: both;
    left: 260px;
    position: absolute;
    top: 200px;
    width: 620px;
    z-index: 1;
}
#map p { padding: 5px }

.pipe {margin: 0 7px}

/* Dedup styles */
#dedupsummary {margin: 5px 0; padding:0}
#dedupsummary td {padding-right:15px;}

#dedupbox h1 { font-size: 1.8em; font-weight: bold; padding: 0; margin: 15px 0 3px 0; }
#dedupbox hr.divider {color:#E8E8E8; background-color:#E8E8E8; height:2px; border:none; width: 99%; margin: 0; padding: 0; text-align: left}

#divresultnum {padding-top:1px;float:left;line-height:1.8em;padding-left:5px;}
#divcbresult {padding-top:2px;float:left;}
#data {padding-right:0px; padding-left:0px;}
#graph {padding-right:0px; padding-left:0px;}
#limitto {padding-right:6px;}

#patentrefsummary {margin: 5px 0; padding:0}
#patentrefsummary td {padding-right:15px;}
.resulttitlecolor {*padding-top:6px; color: #0156AA;}
.resulttitle{font-size:14px;}
.wait, .wait * { cursor: wait !important; }

#viewsel .viewimage{background: url("/static/images/check_box.png") no-repeat scroll 0 50% transparent; margin-left: 0;margin-right: 0; position: relative; float: left}
#viewsel .viewimage a {margin-left: 22px;}
#viewsel .viewimage:hover {background-image: url("/static/images/check_box_over.png")}
#viewsel .viewbtn{ float: left}
#viewsel .viewbtn .clearbasket{padding-left: 4px;padding-right: 4px; overflow: visible;}

#pageselect_boss { padding: 0; margin:7px 0 5px 5px; float:left}
#pageselect {
    float: left;
    line-height: 1.8em;
    padding: 4px 1px 4px 7px;
    background-color: #f5f5f5;
    width: 40px;
    *width: 45px;
    height: 16px;
    border: 1px solid #ADAAAD;
    z-index: 2;
    margin: 0 3px 0 6px;;
    *margin: 0 3px;
}
#pageselect.col { border: none; width: 70px; *width: 76px; height: auto; background: none; padding: 4px 4px 0 0; white-space: nowrap}
#pageselect.patentrefs { border: none; width: 50px; *width: 56px; height: auto; background: none; padding-left: 13px; white-space: nowrap}


#pageselect .pageselect_default {margin:0 3px 0 0; padding: 0; *top: -3px; }
#pageselect .pageselect_toggle {position: relative; top: -3px; *top: -5px; border:none; outline:none}
#pageselect .allchkbox{margin-left: 4px;}
#pageselect .All{padding-left: 3px;}
#pageselect .page{padding-left: 4px;}
ul.pageselect_menu {
    display:none;
    position: absolute;
    border: 1px solid #ababab;
    background-color: white;
    z-index: 9999;
    width: 150px
}
ul.pageselect_menu li {cursor: pointer; width: 100%; margin:0; padding:0}
ul.pageselect_menu li:hover { background-color: #bbdad2 }
ul.pageselect_menu li span {padding: 5px; margin:0; line-height: 20px}

.resultcontent label{margin:0px;}
