#searchhistorybox .title {
    border: 1px solid #ABABAB;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
}

.historyplus {
    background: url("/static/images/login_expand.gif") no-repeat scroll 90% 50% transparent;
}
.historyminus {
    background: url("/static/images/login_collapse.gif") no-repeat scroll 90% 50% transparent;
}
#historytoggle {
    border: 0 none;
    cursor: pointer;
    padding: 5px 24px 5px 9px;
    position: relative;
    color: #ffffff
}
#searchhistorybox .toolbar {background-color: #E0E3EA; border-left: 1px solid #ababab;border-right: 1px solid #ababab;}
#searchhistorybox .toolbar hr {height:5px; border: none; padding: 0; margin: 0}
#historytable {width: 100%; padding: 0; margin:0; text-align: left;border: 1px solid #ABABAB;}
#historytable tr {height: 20px }
#historytable thead th {
    background-color: #bbdad2;
    font-size: 11px;
    font-weight:bold;
    padding: 2px 7px;
    border-right: 1px solid #ababab;
    vertical-align: middle;
    white-space: nowrap;
}
#historytable tbody tr { vertical-align: middle;}
#historytable tbody td {
    padding: 10px 7px 2px;
    border-right: 1px solid #ababab;
    border-top: 1px solid #ababab;
    vertical-align: top;
}

div.historydetails { display:none; border: 1px solid #ABABAB;position: absolute;background-color: white;padding: 5px 5px 5px 10px;*width:210px}
div.historydetails:after ,
div.historydetails:before { content:' '; height:0; position: absolute; width: 0;border: solid transparent; border-right-color: #ababab;top: 5px; right: 100%;}
div.historydetails:after {border-width:13px; border-right-color: white; top: 19px}
div.historydetails:before{border-width:14px; border-right-color: #ababab; top: 18px}

div.historydetails ul { list-style: none; margin:0; padding:5px 0 0; float:left}
div.historydetails ul li { float:none; clear:both; line-height: 12px}

div.historydetails .close { float: right; background:url("/static/images/x.gif") no-repeat scroll 50% 50% transparent; height: 12px; width: 12px; cursor:pointer}

div.historydetails .deduptitle {font-weight: bold}
div.historydetails .dedupbox {border: 1px solid black}
div.historydetails .dedupitem { width: 100%; padding: 1px 4px; line-height: 16px }
div.historydetails .dedupdb { float:left; width: 7em}

div.combineselect_boss { padding: 0; margin:0 0 0 20px}
div.combineselect {
    position: relative;
    padding: 4px;
    background-color: #f5f5f5;
    width: 40px;
    height: 16px;
    border: 1px solid #ababab;
    z-index: 2;
    top: -5px;
}
div.combineselect .combineselect_toggle {position: relative; top: -3px; *top: 0px; border:none; outline:none}
ul.combineselect_menu {
    display:none;
    position: absolute;
    border: 1px solid #ababab;
    background-color: white;
    z-index: 9999;
    width: 150px
}
ul.combineselect_menu li {cursor: pointer; width: 100%; margin:0; padding:0}
ul.combineselect_menu li:hover { background-color: #bbdad2 }
ul.combineselect_menu li span {padding: 5px; margin:0; line-height: 20px}

ul.querytools {}
ul.querytools li a {margin-left: 22px; }
ul.querytools li {margin: 0 15px 5px 0; line-height: 20px; text-align: left}
ul.querytools li.details {background: url("/static/images/View_query_details.png") no-repeat scroll 0 50% transparent;}
ul.querytools li.details:hover {background: url("/static/images/View_query_details_over.png") no-repeat scroll 0 50% transparent;}
ul.querytools li.edit {background: url("/static/images/Edit.png") no-repeat scroll 0 50% transparent;}
ul.querytools li.edit:hover {background-image: url("/static/images/Edit_On.png")}
ul.querytools li.savedsearch {background: url("/static/images/remove.jpg") no-repeat scroll 0 50% transparent;}
ul.querytools li.savesearch {background: url("/static/images/SaveSearch.png") no-repeat scroll 0 50% transparent;}
ul.querytools li.savesearch:hover {background-image: url("/static/images/SaveSearch_on.png")}
ul.querytools li.createdalert { background: url("/static/images/remove.jpg") no-repeat scroll 0 50% transparent;}
ul.querytools li.createalert { background: url("/static/images/CreateAlert.png") no-repeat scroll 0 50% transparent;}
ul.querytools li.createalert:hover { background-image: url("/static/images/CreateAlert_on.png")}

.message{padding-left: 15px;}
