#mysettings h1 { font-size: 1.8em; font-weight: bold; padding: 0; margin: 15px 0 3px 0; }
#mysettings hr.divider {color:#E8E8E8; background-color:#E8E8E8; height:2px; border:none; width: 99%; margin: 0; padding: 0; text-align: left}
#mysettings ul {margin: 12px 0 0 18px; padding: 0;}
#mysettings ul li p {margin: 0 0 7px 0; padding: 0;}