#container {max-width: 999px}
#searchformwrap {
	padding: 0;
	margin: 0;
	white-space: nowrap;
	float:left;
	width: 797px;
	min-height: 0px;
}

#searchformbox, #searchhistorybox {
	width:767px;
	height: 100%;
	margin: 0 15px 15px 15px;
	padding: 0;
	z-index: 1;
}

#searchformsidebar {
	width: 200px;
	background: #fff;
	margin: 41px 0 0 0;
	*padding-top: 16px;
	float:right;
}
#searchformsidebar ul {list-style-type: none; margin: 0 0 1px 0; padding: 0}
#searchformsidebar ul li {list-style-type: square; margin-left: 20px; padding: 2px 0; white-space: normal;}
#searchformsidebar ul li a {font-weight: bold}
#browseindexes {display:none}
#latestresources .sidebartitle {background: url(/static/images/gradient.jpg) repeat;}
#latestresources ul li {background: url(/static/images/ei_bullet.gif) no-repeat left; list-style-type: none; margin: 0 0 0 4px; vertical-align: middle;}
#latestresources ul li a {padding-left: 20px }


#latestresources ul li.trainingVids {background: url(/static/images/EV_video.png) no-repeat left;}
#latestresources ul li.whatsNew {background: url(/static/images/EV_new_wh.png) no-repeat left;}
#latestresources ul li.giveFeedback {background: url(/static/images/EV_feedback_wh.png) no-repeat left; }

#searchformtabsbox {
	position:relative;
	margin:0;
	z-index:102;
	width:100%;
	left: -40px;
}
#searchformtabs {
	list-style:none;
	line-height:22px;
	margin-top: 0px;
}

#searchformtabs LI {float:left;margin:0 5px 0 0;padding:0;}
#searchformtabs LI.inactive {border-bottom: 2px solid #BBDAD2}

#searchformtabs LI A.tablink {
	display:block;
	color:black;
	text-decoration:none;
	font-size: 12px;
	background:#BBDAD2;
	margin:0;
	padding:0.25em 1em;
	z-index:102;
	height: 100%;
}

#searchformtabs LI A.here:link,
#searchformtabs LI A.here:visited {
	background:#E0E3EA;
	border-left:1px solid #ABABAB;
	border-top:1px solid #ABABAB;
	border-right:1px solid #ABABAB;
	font-weight:bold;
	font-size: 16px;
	position:relative;
	z-index:102;
}

#searchcontents {
	float:left;
	border:1px solid #ABABAB;
	position:relative;
	background:#E0E3EA;
	width: 99.5%;Chicago (city center)
	height: 100%;
	top: -1px;
	padding: 0;
	margin: 0;
	z-index:100;
}
#searchcontents #searchtipsbox {
	margin: 6px 17px 0 0 ;
	padding: 0;
	vertical-align: middle;
}
#searchcontents #searchtipsbox ul {
	padding: 0;
	margin: 0;
	float:right;
}
#searchcontents #searchtipsbox ul li {
background: url("/static/images/divider_login.gif") no-repeat scroll 10% 60% transparent;
    float: left;
    line-height: 16px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    display: block;
}
#searchcontents #searchtipsbox ul li a {
   color: #0156AA;
    margin: 0;
    padding: 0 0 0 15px;
    text-decoration: none;
    white-space: nowrap;
}
#searchcontents #searchtipsbox ul li.databases {
	background: none;
}

#searchformsidebar .sidebarbox {
	border: 1px solid #148C75;
	margin-bottom:15px;
}
#searchformsidebar .sidebarlist {
	padding: 0;
	margin: 0;
}
#searchformsidebar .sidebarlist li {
	padding: 0;
	margin: 5px 20px;
}
#searchformsidebar .sidebartitle,
#searchhistorybox .title {
	background-color: #148C75;
	line-height: 30px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 0 3px;
}
#searchformsidebar .sidebartitle .helpurl {float:right}
#searchformsidebar .sidebartitle img.i {position:relative; top: 5px; }
#searchform {
	padding: 0;
	margin: 28px 0 0 17px;
	width: 752px;
}
input, select {
	position: relative;

	z-index: 99;
	*overflow: hidden;
}

.searchcomponentshortwrap {margin: 0; padding: 0 72px 0 0; width:679px}
.searchcomponentfullwrap {margin: 0; padding: 0 22px 7px 0; }
.searchcomponentseparator {margin: 9px 0 15px; clear: both;width:730px;}
.searchcomponentseparator hr {*margin-top:3px; *margin-top: -7.5px; padding: 0; color: #3173b5; background-color: #3173b5; height: 2px;}

.searchcomponentlabel {margin: 0; font-weight: bold; color: #148C75; font-size: 14px; float:left; line-height:14px; width:112px; vertical-align: middle}
.searchcomponenthelpicon { float:right; width:50px; vertical-align: middle}

.databasecheckall {float:left; margin: 0;padding:0}
.databasecheckgroup {float: left; width: 580px; margin: 0 0 0 3px; padding:0}
.databasecheckgroup li {list-style:none; float: left; width: 120px; margin:0 0 3px 0; padding:0}
.databasecheckgroup li label {margin-left: 5px}
.databasecheckall input,
.databasecheckgroup input {
	width: 13px;
	height: 13px;
	padding: 0;
	margin:0;
	vertical-align: bottom;
	position: relative;
	top: -1px;
	*overflow: hidden;
}

.referexcheckall { margin:0;padding:0;}
.referexcheckgroup {float: left; width: 740px; margin: 0; padding:0}
.referexcheckgroup li {list-style:none inside none; float: left; width: 240px; margin:0; padding:0}
.referexcheckgroup li label {margin-left: 5px}

.searchforline {margin: 0 0 4px 0; }
.searchforline input.searchword,
.searchforline select {
	width: 19.85em;
}
.searchforline span {padding: 0 7px}
.searchforline .twitter-typeahead{
	display:inline;
	padding: 0 0px
}
.searchforconnector {float: left; width:112px}

.searchlimitbybox {float:left;}
.searchlimitbybox ul {list-style: none; padding: 0; margin: 0}
.searchlimitbybox ul li {margin-bottom:3px}
.searchlimitbybox ul li select.limittype {width:16em;}


.searchcodetitle {float: left; list-style-type: none; margin: 0; padding:0}
.searchcodetitle li {float: left; margin-right: 5px; font-size: 11px}
.searchcodetitle li label {color: #148C75; margin-right: 3px}
#searchcodes {height:180px; width:715px; margin-top: 2px; padding: 5px; overflow-x:hidden; overflow-y:scroll; border: 1px solid #ABABAB; background-color: white}
#searchcodes table {float: left; width: 45%; margin-right: 12px; font-size: 11px}
#searchcodes table .even {background-color: #BBDAD2;}

/********************************************************************
	eBooks styles
*********************************************************************/
div#ebookbrowsenavwrap {
	background-color: white;
	border: 1px solid #ABABAB;
	margin: 0;
	padding: 0;
	height: 156px;
	width:730px;
}
ul#ebookbrowsenav {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 156px;
	width: 250px;
	border-right: 1px solid #ABABAB;
	cursor: pointer;
	/*
	position: relative;
	top: -156px;
	*/
}
ul#ebookbrowsenav li {position: relative;}
ul#ebookbrowsenav li:hover,
ul#ebookbrowsenav li.active {background-color: #bbdad2}

div#ebookbrowsenavright {
	height:100%;
	width: 470px;
	max-height: 156px;
	overflow-y: scroll;
	float:right;
	text-align: left;
}
div#ebookbrowsenavright ul {list-style: none outside none; margin: 0; padding: 0;}
div#ebookbrowsenavright ul li {	padding: 0 5px; margin-top:7px; vertical-align: middle }

ul#ebookbrowsenav li { padding: 5px; height: 16px; line-height: 16px; vertical-align: middle }

.SmGreenText {color: #148C75; }

<!-- **************************************************** -->
<!-- THESAURUS                                            -->
<!-- **************************************************** -->
#firstslide { padding: 0; word-wrap: break-word; overflow: hidden; white-space: normal; width:100%}
#thesresultswrap { padding: 0; word-wrap: break-word; overflow: hidden; white-space: normal; width: 100%}
#thesresultswrap .loading {left: 45%; position: absolute; top: 175px;}
#thesresultswrap .pagenav {float: right; margin: 5px 0}
#termresults {
	background-color: #ceebff;
	border: 1px solid #ababab;
	padding: 5px;
	min-height: 115px;
	word-wrap: break-word;
	overflow: hidden;
	white-space: normal;
}
#noresults {
	color: red;
}
#txtTrm {width:562px}
#termtablewrap { margin-top: 7px }
.termelement { margin-top: 7px }
.termsearchtable * th:first-child {width:20px}
#termresults table {float:left; margin-right: 10px}
#termresults table tr {line-height: 19px}
#termresults table td {vertical-align: top;}
#termresults table td.term {width:290px; white-space: normal;}
#termresults .mainterm {font-weight: bold;color: #0156AA;margin-bottom: 0; vertical-align: middle}
#termresults .addtoclipboard {margin:0; padding:0; position: relative; top: 2px; #top:-2px; }


#addsearchllink img { height: 17px; position: relative; top: -4px; *top:-2px; width: 15px;}
.greytext {color:#808080; padding:0px; cursor: text;}
.searchoptionpipe {padding: 0; position: relative; top: -1px}
.removesearchlink { line-height: 15px; vertical-align: middle; padding-left: 2px }
.removesearchlink img {height: 17px; width: 15px; position: relative; top: -5px; *top: -3px;}
#addsearcherror { margin-top:10px; padding-left:17px; margin-bottom:3px; *margin-bottom:15px;}
#addsearcherror img {position: relative; top: -3px;}

.searchword{
	top:-1px;
}


.tt-hint{
	background: none repeat scroll 0 0 #FFFFFF;
    border-color: transparent;
    box-shadow: none;
    position: absolute;
    vertical-align: middle;
    width: 19.85em;


}

span.tt-dropdown-menu{
	background-color:#FFFFFF;
	padding:0px;
	width:440px;
	z-index:99999;

}
span.tt-suggestions{
	padding:0px;
	color: #333333;
	max-height:350px;
	overflow:auto;
}
.tt-suggestion{
	padding-bottom:2px;
	padding-left:2px;
	padding-right:2px;
}

.tt-is-under-cursor{
	background-color:#148C75;
	color:#FFFFFF;
}

.tt-suggestion p{
padding: 0px 5px;
clear: both;
font-weight: normal;
line-height: 20px;
white-space: nowrap;
}
.acToggle{
	float:right;
	color:#FFFFFF;
}

.acToggle a{
	text-decoration:none;
	color:#FFFFFF;
}
.acToggle a:hover{
	text-decoration:underline;

}
.typeaheadFooter{
	background-color:#999;
    background-color: #999999;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 20px;
}
.typeaheadFooter span{
	padding-top:2px;
}
.typeaheadFooter span{color:#FFFFFF;}
.acPowered{
	float:left;
	color:#FFFFFF;
}

.h2help{
	width: 65px;
	float: left;
}

.moresearchSourcediv{
	background-color: #148C75;
	color:#FFFFFF;
	font-weight: bold;
	line-height: 30px;
	padding: 0 7px;
	height: 30px;
}

.moresearchSourceh2{
    font-size: 14px;
    width: 165px;
    float: left;
}
acOff{

}
#searchsourcestoggle{
text-align:right;
border: 0 none;
cursor: pointer;
float:right;
width:35px;
padding-right:24px;
position: relative;
color: #ffffff;
font-size:11px;

}