.txtDummy {	color: #666666 }

.txtSmallest { font-size: .84em; font-family: Arial, Verdana, Helvetica, sans-serif;}
.txtSmaller {font-size: .92em;}

.txtLarge {	font-size: 1.09em;}
.txtLarger {font-size: 1.17em;}
.txtLargest {font-size: 1.35em;}

.txtRequired {font-size: 1.5em;}
.txtTitle {font-size: 1.75em;}
.txtTitle small {font-size: 60%;font-weight: lighter;color: #999}

.txtSmallBlue {font-weight: bold;color: #0859A6;}
.txtSmallRedBold {font-weight: bold;color: #FF0000;}
.txtSmallBold {font-weight: bold;}
.txtSmallItalic {font-style: italic;}

.txtBold {font-weight: bold}
.txtBoldBlue {font-size: 0.8em;line-height: 1.5em;font-weight: bold;color: #0859A6;}
.txtBoldOnly {font-weight: bold}
.txtBoldDummy {font-weight: bold;color: #666666}
.txtBoldOnlyDummy {font-weight: bold;color: #666666}

.txtRed {font-weight: normal;COLOR: #FF0000}
.txtRedBold {font-weight: bold;COLOR: #FF0000}
.txtRedBoldSpacing {font-weight: bold;COLOR: #FF0000;margin: 0px;padding: 10px 0px;}
.txtRedOnly {COLOR: #FF0000}

.header {
	font-size: larger;
	font-weight: bold
}

.headerSmall {
	font-weight: bold
}

/*.headerBlue {COLOR: #085AA5; font-weight: bold}*/
.headerBlueBg {
	background-color: #085AA5
}

.headerBlueAuthor {
	font-size: 1.25em;
	font-weight: bold;
	color: #1e357b;
}

.headerGreyAuthor {
	font-size: 0.8em;
	color: #999999;
	margin-left: 7px;
}

.txtOrangeBold {
	font-weight: bold;
	color: #FF6600;
}

.helpLinks {
	font-weight: bold;
	vertical-align: middle;
}

a.helpLinks:link {
	color: #085DAD;
	text-decoration: None;
}

a.helpLinks:visited {
	color: #085DAD;
	text-decoration: None;
}

a.helpLinks:hover {
	color: #085DAD;
	text-decoration: underline;
}

a.helpLinks:active {
	color: #085DAD;
	text-decoration: None;
}

.ScopusLightBg {
	background-color: #E3EFF7;
	margin: 0px;
	padding-left: 5px;
	padding-bottom: 2px;
	padding-right: 5px;
	padding-top: 2px;
}

.ScopusMedBg {
	background-color: #D4E1EA;
	margin: 0px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-top: 2px;
}

.ScirusLightBg {
	background-color: #F6E6ED;
	margin: 0px;
	padding-left: 5px;
	padding-bottom: 2px;
	padding-right: 5px;
	padding-top: 2px;
}

.ScirusMedBg {
	background-color: #E7D4DD;
	margin: 0px;
	padding-left: 5px;
	padding-bottom: 2px;
	padding-right: 5px;
	padding-top: 2px;
}

.PatentLightBg {
	background-color: #FFFFFF;
	margin: 0px;
	padding-left: 5px;
	padding-bottom: 2px;
	padding-right: 5px;
	padding-top: 2px;
}

.PatentMedBg {
	background-color: #EFEFEF;
	margin: 0px;
	padding-left: 5px;
	padding-bottom: 2px;
	padding-right: 5px;
	padding-top: 2px;
}

.previewTxt,.previewTxt a,.previewTxt a:visited,a.previewTxt {
	color: #C0C0C0 !important;
}

.previewUnderline {
	font-weight: normal;
	color: #C0C0C0;
}

.prevLinkXXSm {
	font-weight: normal;
	color: #C0C0C0;
	text-decoration: underline;
}

.prevLinkSmNm {
	color: #C0C0C0;
	text-decoration: underline;
}

.prevLinkS {
	color: #C0C0C0;
	text-decoration: underline;
}

.prevAuthLinkS {
	color: #C0C0C0;
	text-decoration: underline;
}

.prevLinkSm {
	color: #C0C0C0;
	font-weight: bold;
	text-decoration: underline;
}

.prevLinkSB {
	color: #C0C0C0;
	font-weight: bold;
	text-decoration: underline;
}

.printNote {
	color: #FF0000;
	margin-left: 10px;
	position: relative;
	top: -1px;
	font-weight: bold;
}

a.noDecoration {
	text-decoration: none;
}

a.noDecoration img {
	border: 0;
}

.DBlueText {font-size: 16px;font-family: arial,verdana,geneva;color: #003FB2;}

.lhl_table {padding: 0; margin: 0; width: 550px; border: 1px solid #148c75}
.lhl_table th, .lhl_table td {padding: 2px 5px; text-align: left; vertical-align: top}
.lhl_table .lhl_table_lhc {width: 460px}
.lhl_table .lhl_table_title {color: white; font-size: 14px; vertical-align: top; background-color: #148C75; white-space: nowrap}
.lhl_table .lhl_table_text {white-space: nowrap;}
.lhl_table .lhl_table_rhc {white-space: nowrap; width:90px}
.lhl_table .lhl_table_input {width: 10px; vertical-align: top;}
.lhl_table input {margin: 0; padding:0}
.lhl_table .lhl_bottom_padder {line-height: 3px; height: 3px; font-size: 2px}
.skipnav{
text-align: left;
height:0px;
}
.skipnav a{
background-color: #fff;
height: 1px;
left: -10000px;
overflow: hidden;
position: absolute;
width: 1px;		
}

.skipnav a.show{
color: blue;
height: auto;
left: auto;
overflow: auto;
position: relative;
width: auto;
padding-left:4px;
line-height:20px;
height:20px;		
}