#tagsgroups_content {margin: 20px 15px}
#tagsgroups_top {line-height:2.0em; padding:0; margin: 0 0 7px;}
#tagsgroups_top h1 {float:left; margin: 0; font-size: 1.8em}
#tagsgroups_top .action_title {color: #148C75;}

#tagsgroups_tool_links {margin: 0; line-height:1.8em; position: relative; top: 5px}
#tagsgroups_tool_links li {margin: 0 15px 5px 0; line-height: 20px;}
#tagsgroups_tool_links li a {margin-left: 22px; color: black;}
#tagsgroups_tool_links li.vieweditgroups {background: url("/static/images/New_Tag.png") no-repeat scroll 0 50% transparent;}
#tagsgroups_tool_links li.renametag {background: url("/static/images/Edit.png") no-repeat scroll 0 50% transparent;}
#tagsgroups_tool_links li.deletetag {background: url("/static/images/Delete.png") no-repeat scroll 0 50% transparent;}

#tagsgroups_wrap {width: 100%}

#tagsgroups_searchbox {float:left; width: 220px; padding:5px 7px 11px; border: 1px solid #ababab; background-color: #e0e3ea }
#tagsgroups_searchbox #searchtitle {font-weight: bold}

#tagsgroups_tagdisplay {margin-left:250px;}
#tagsgroups_tagdisplay #tagdisplay_menu {background-color: #e0e3ea;  line-height: 20px; height: 35px; }
#tagsgroups_tagdisplay #tagdisplay_menu div {margin: 7px 0 0 7px;}
#tagsgroups_tagdisplay #tagdisplay_menu #sortby {margin-right: 7px}
#tagsgroups_tagdisplay #tagdisplay_menu #sortby li {margin: 0 0 0 0.5em; padding: 0}

#searchtagsform input,select {margin:0;}

#tagdisplay_cloud {text-align: justify; margin: 20px 15px 0}
#tagdisplay_cloud .size1        { font-size: 120%; font-family:arial,verdana,geneva; text-decoration:none;}
#tagdisplay_cloud .size2        { font-size: 150%; font-family:arial,verdana,geneva; text-decoration:none;}
#tagdisplay_cloud .size3        { font-size: 190%; font-family:arial,verdana,geneva; text-decoration:none;}
#tagdisplay_cloud .size4        { font-size: 230%; font-family:arial,verdana,geneva; text-decoration:none;}
#tagdisplay_cloud .size5        { font-size: 280%; font-family:arial,verdana,geneva; text-decoration:none;}

#tagsgroups_action_col {float:left; width: 190px}
#tagsgroups_action_col #tagsgroups_groupsbox {margin-left: 240px;}

#tagsgroups_groupsbox {min-width: 820px; margin-left: 197px}
#tagsgroups_groupsbox textarea{height: 80px; width: 400px}
#tagsgroups_groupsbox select {width: 160px}
#tagsgroups_groupsbox label {display:block; margin: 7px 0 1px; font-size: 14px}
#tagsgroups_groupsbox input {margin: 0; }

#tagsgroups_groupsbox .title {border: 1px solid #ABABAB; vertical-align: middle;background-color: #148C75; color: white; font-size: 16px; font-weight: bold; padding: 10px 7px;}
#tagsgroups_groupsbox .toolbar {background-color: #E0E3EA; border-left: 1px solid #ABABAB; border-right: 1px solid #ABABAB; height: 5px}
#tagsgroups_groupsbox .removemember {line-height: 14px; vertical-align: middle}
#tagsgroups_groupsbox .removemember input {position: relative; top:2px}

#groupstable {min-width: 800px; width: 100%; padding: 0; margin: 0; text-align: left; border: 1px solid #ABABAB;}
#groupstable th {white-space: nowrap;background-color: #BBDAD2; font-size: 12px; font-weight: bold; padding: 2px 7px; border-right: 1px solid #ABABAB; vertical-align: middle; line-height: 20px}
#groupstable td {padding: 2px 7px; border-right: 1px solid #ABABAB; border-top: 1px solid #ABABAB}
#groupstable .groupname {width: 40px; white-space: nowrap}
#groupstable td.groupname{ font-weight: bold; font-size: 12px}
#groupstable .groupcreate {width: 80px}
#groupstable .groupdescription {width: 240px}
#groupstable .groupmembers {width: 150px}
#groupstable .grouptags {width: 150px}
#groupstable .groupedit {width: 48px;}
#groupstable .groupdelete {width: 40px;}

.backhome {margin-bottom: 5px}
.taglink:hover {background-color:#E0E3EA}


#rename_action_col {width: 100%; padding-left:220px}
#renametag input,select {margin:0; width:140px;}

#deletetag_action_col {width: 100%; padding-left:220px}
#deletetag input,select {margin:0; width:140px;}

#autocompletewrap .ui-autocomplete { width: 150px; z-index: 1; margin:0; padding:0; border: 1px solid #ababab; background-color: snow}
#autocompletewrap .ui-autocomplete .ui-menu-item { list-style-type: none;}
#autocompletewrap .ui-autocomplete .ui-menu-item:hover { background-color: #ababab; cursor:pointer}
#autocompletewrap .ui-autocomplete .ui-menu-item a { margin-left: 5px; text-decoration: none}
