/* An <absolute-size> keyword is an index to a table of font sizes computed and kept by the UA.
  Possible values are: [ xx-small | x-small | small | medium | large | x-large | xx-large ].
*/
* {
  font-family:arial,verdana,geneva;
}

.logo {
  vertical-align: middle;
  }

.pageheading {
  font-size: large;
  color:#00449E;
  font-weight: bold;
  }


#logoheading {
  font-size: large;
  color:#FFFFFF;
  font-weight: bold;
  }

#reportdata table {
  font-size: x-small;
  font-family:arial,verdana;
}
#reportdata tr.tableRowHeader {
  background-color: #999999;
}
#reportdata tr.tableRowOdd {
  background-color: #CCCCCC
}
#reportdata tr.tableRowEven {
  background-color: #ffffff
}
#reportdata td.tableCell {
}
#reportdata td.tableCellAction {
}
