/* An <absolute-size> keyword is an index to a table of font sizes computed and kept by the UA.
  Possible values are: [ xx-small | x-small | small | medium | large | x-large | xx-large ].
*/

a {
  font-family:arial,verdana,geneva;
}

.SmBlackText  {font-size: small;  }
.SmBoldBlueText {font-size: small; color:#000099; font-weight: bold;}

.RedText  {font-size: medium; color:#FF3300;}
.BlueText {font-size: medium; color:#003399;}
.BoldBlueText {font-size: medium; color:#003399; font-weight: bold;}
.MedBlackText { }

.LgBlueText {font-size: small;  color:#800080;}
.LgWhiteText  {font-size: small;  color:#FFFFFF; font-weight: bold;}

a.SmBlueLink  {font-size: xx-small;}
a.SmBlueLink:link {color:#0000FF;}
a.SmBlueLink:active {color:#FF0055;}
a.SmBlueLink:visited  {color:#800080;}

a.MedBlueLink {font-size: x-small;}
a.MedBlueLink:link  {color:#0000FF;}
a.MedBlueLink:active  {color:#FF0055;}
a.MedBlueLink:visited {color:#800080;}

a.LgBlueLink {font-size: small;  }
a.LgBlueLink:link {color:#0000FF;}
a.LgBlueLink:active {color:#FF0055;}
a.LgBlueLink:visited  {color:#800080;}
