<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- Handle 403 from IPBlocker code! -->
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/pages/world/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/WEB-INF/pages/world/400.jsp</location>
	</error-page>

	<!-- General description of your web application -->

	<display-name>The Engineering Village Controller</display-name>
	<description>This is version XXX of EV2</description>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Configuration of the Listeners. -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <listener>
        <listener-class>org.ei.stripes.EVInitializationListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.ei.session.EVSessionListener</listener-class>
    </listener>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Configuration of the Remote IP filters/access. This can be used -->
	<!-- on an environment (CERT, for example) where you want to limit -->
	<!-- access to the outside world. Un-comment to enable! -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- <filter> <filter-name>RemoteIpFilter</filter-name> <filter-class>org.apache.catalina.filters.RemoteIpFilter</filter-class>
		<init-param> <param-name>remoteIpHeader</param-name> <param-value>x-forwarded-for</param-value>
		</init-param> <init-param> <param-name>protocolHeader</param-name> <param-value>x-forwarded-proto</param-value>
		</init-param> </filter> <filter-mapping> <filter-name>RemoteIpFilter</filter-name>
		<url-pattern>/*</url-pattern> <dispatcher>REQUEST</dispatcher> </filter-mapping>
		<filter> <filter-name>Remote Address Filter</filter-name> <filter-class>org.apache.catalina.filters.RemoteAddrFilter</filter-class>
		<init-param> <param-name>allow</param-name> <param-value>198\.185\.20\.32|198\.185\.23\.226+|127\.\d+\.\d+\.\d+|138.12.\d+\.\d+|192\.168\.222\.100|192\.168\.222\.101</param-value>
		</init-param> <init-param> <param-name>deny</param-name> <param-value>138.12.194.245</param-value>
		</init-param> </filter> <filter-mapping> <filter-name>Remote Address Filter</filter-name>
		<url-pattern>/*</url-pattern> </filter-mapping> -->


	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Configuration of the Stripes Filter. -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<filter>
		<description>
            Provides essential configuration and request processing services
            for the Stripes framework.
        </description>
		<display-name>Stripes Filter</display-name>
		<filter-name>StripesFilter</filter-name>
		<filter-class>org.ei.stripes.EVStripesFilter</filter-class>

		<init-param>
			<param-name>LocalePicker.Locales</param-name>
			<param-value>en_US:UTF-8</param-value>
		</init-param>


		<!-- REQUIRED init parameter for the Stripes Filter. -->
		<init-param>
			<param-name>ActionResolver.Packages</param-name>
			<param-value>org.ei.stripes.action</param-value>
		</init-param>

		<!-- Optional init parameter for the Stripes Filter. -->
		<init-param>
			<param-name>ActionBeanContext.Class</param-name>
			<param-value>org.ei.stripes.EVActionBeanContext</param-value>
		</init-param>

		<init-param>
			<param-name>Stripes.EncryptionKey</param-name>
			<param-value>n49bnq3.ga89</param-value>
		</init-param>

		<!-- DO NOT CHANGE THE ORDER OF THE INTERCEPTORS!! -->
		<!-- They are run in the order they are in and it's -->
		<!-- critical that the SessionBuilderInterceptor runs first! -->
		<init-param>
			<param-name>Interceptor.Classes</param-name>
			<param-value>
                org.ei.stripes.XssInterceptor,org.ei.stripes.SessionBuilderInterceptor,org.ei.stripes.AuthInterceptor, org.ei.stripes.DataRequestInterceptor, org.ei.stripes.ErrorMessageInterceptor
            </param-value>
		</init-param>

		<!-- Change the population strategy to use ActionBeans first! -->
		<init-param>
			<param-name>PopulationStrategy.Class</param-name>
			<param-value>
            net.sourceforge.stripes.tag.BeanFirstPopulationStrategy
          </param-value>
		</init-param>

		<init-param>
			<param-name>LocalePicker.Locales</param-name>
			<param-value>en_US:UTF-8</param-value>
		</init-param>

		<init-param>
			<param-name>ExceptionHandler.Class</param-name>
			<param-value>org.ei.stripes.exception.EVExceptionHandler</param-value>
		</init-param>

		<init-param>
			<param-name>Validation.InvokeValidateWhenErrorsExist</param-name>
			<param-value>true</param-value>
		</init-param>

	</filter>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/static/*</url-pattern>
		<url-pattern>/engresources/*</url-pattern>
		<url-pattern>*.html</url-pattern>
        <url-pattern>*.txt</url-pattern>
	</servlet-mapping>

	<filter-mapping>
		<filter-name>StripesFilter</filter-name>
		<servlet-name>StripesDispatcher</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<filter-mapping>
		<filter-name>StripesFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Configuration of the Stripes dispatcher Servlet. -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<servlet>
		<servlet-name>StripesDispatcher</servlet-name>
		<servlet-class>net.sourceforge.stripes.controller.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>StripesDispatcher</servlet-name>
		<url-pattern>/register</url-pattern>
		<url-pattern>/activateaccess</url-pattern>
		<url-pattern>/ticurl</url-pattern>
		<url-pattern>/controller/servlet/Controller</url-pattern>
		<url-pattern>/ScopusServlet/ScopusEV</url-pattern>
		<url-pattern>/wobl/*</url-pattern>
		<url-pattern>*.url</url-pattern>
		<url-pattern>*.json</url-pattern>

	</servlet-mapping>

	<!-- JAWR Servlet Mappings -->

	<servlet-mapping>
		<servlet-name>JavascriptServlet</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CSSServlet</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>*.png</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>*.gif</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>*.ico</url-pattern>
    </servlet-mapping>

	<!-- JAWR Servlets -->

	<servlet>
		<servlet-name>JavascriptServlet</servlet-name>
		<servlet-class>net.jawr.web.servlet.JawrServlet</servlet-class>

		<!-- Location in classpath of the config file -->
		<init-param>
			<param-name>configLocation</param-name>
			<param-value>/jawr.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>net.jawr.web.servlet.JawrServlet</servlet-class>

		<!-- Location in classpath of the config file -->
		<init-param>
			<param-name>configLocation</param-name>
			<param-value>/jawr.properties</param-value>
		</init-param>
		<init-param>
			<param-name>type</param-name>
			<param-value>img</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>CSSServlet</servlet-name>
		<servlet-class>net.jawr.web.servlet.JawrServlet</servlet-class>

		<!-- Location in classpath of the config file -->
		<init-param>
			<param-name>configLocation</param-name>
			<param-value>/jawr.properties</param-value>
		</init-param>
		<init-param>
			<param-name>type</param-name>
			<param-value>css</param-value>
		</init-param>
		<!-- Here we make sure that the CSS servlet will start after the image
			one -->
		<load-on-startup>2</load-on-startup>
	</servlet>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Start of EV-related servlets -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<servlet>
		<description>This servlet is used to retrieve autocomplete matches</description>
		<servlet-name>AutoComplete</servlet-name>
		<servlet-class>org.ei.stripes.action.autoComplete.AutoCompleteServlet</servlet-class>
	</servlet>

	<servlet>
		<description>The Heartbeat Service </description>
		<servlet-name>HeartbeatService</servlet-name>
		<servlet-class>org.ei.system.HeartbeatService</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<description>The New Heartbeat Service </description>
		<servlet-name>NewHeartbeatService</servlet-name>
		<servlet-class>org.ei.system.NewHeartbeatService</servlet-class>
		<init-param>
			<param-name>username</param-name>
			<param-value>fast</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>fast</param-value>
		</init-param>
		<init-param>
			<param-name>email</param-name>
			<param-value>hongrongm@yahoo.com|hongrongm@hotmail.com</param-value>
		</init-param>
	</servlet>

	<!-- The HealthCheck service is used by the BigIP -->
	<!-- load balancer to see if the app is up or not -->
	<!-- It relies on a file named 'down' to be present -->
	<servlet>
		<description>Health Check Service</description>
		<servlet-name>HealthCheck</servlet-name>
		<servlet-class>org.ei.system.HealthCheck</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>

	<servlet>
		<description>The Redirect Service</description>
		<servlet-name>RedirectService</servlet-name>
		<servlet-class>org.ei.system.RedirectService</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>

	<servlet>
		<description>This jFreeChart servlet handles chart drawings and returns chart</description>
		<servlet-name>BarChart</servlet-name>
		<servlet-class>org.ei.controller.BarChart</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>

	<servlet>
		<description>This PatentPDF servlet  get PDFs from Univentio Gateway</description>
		<servlet-name>PatentPDF</servlet-name>
		<servlet-class>org.ei.fulldoc.PatentPDF</servlet-class>
	</servlet>

	<servlet>
		<description>This is servlet handles Open URL Requests</description>
		<servlet-name>OpenURL</servlet-name>
		<servlet-class>org.ei.controller.OpenURL</servlet-class>
		<load-on-startup>6</load-on-startup>
	</servlet>

	<servlet>
		<description>The securtiy servlet</description>
		<servlet-name>SecurityService</servlet-name>
		<servlet-class>org.ei.security.SecurityService</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>


	<servlet>
		<description>This servlet is used to retrieve the session status</description>
		<servlet-name>CheckSessionStatus</servlet-name>
		<servlet-class>org.ei.system.CheckSessionStatus</servlet-class>
	</servlet>

	<!-- ******************************* -->
	<!-- SERVLET MAPPINGS -->
	<!-- ******************************* -->


	<servlet-mapping>
		<servlet-name>AutoComplete</servlet-name>
		<url-pattern>/autocomplete</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SecurityService</servlet-name>
		<url-pattern>/controller/servlet/SecurityService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>HeartbeatService</servlet-name>
		<url-pattern>/controller/servlet/HeartbeatService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>NewHeartbeatService</servlet-name>
		<url-pattern>/controller/servlet/NewHeartbeatService</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>HealthCheck</servlet-name>
		<url-pattern>/controller/servlet/HealthCheck</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>RedirectService</servlet-name>
		<url-pattern>/controller/servlet/RedirectService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>OpenURL</servlet-name>
		<url-pattern>/controller/servlet/OpenURL</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BarChart</servlet-name>
		<url-pattern>/controller/servlet/BarChart</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>PatentPDF</servlet-name>
		<url-pattern>/controller/servlet/Patent.pdf</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CheckSessionStatus</servlet-name>
		<url-pattern>/application/checksessionstatus</url-pattern>
	</servlet-mapping>


	<!-- ******************************* -->
	<!-- SESSION-TIMEOUT value should be synched with EISessionCookie.EXPIRES_IN value -->
	<!-- ******************************* -->
	<session-config>
		<session-timeout>30</session-timeout>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

</web-app>
