<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">


<web-app>
    <!-- General description of your web application -->

    <display-name>Engineering Village Web App</display-name>
    <description>
    	This is the Engineering Village Web Application
    </description>
    <context-param>
      <param-name>controllerServer</param-name>
      <param-value>@controller_server@</param-value>
    </context-param>
    <context-param>
       <param-name>bulletinServer</param-name>
       <param-value>@bulletin_server@</param-value>
    </context-param>
    <context-param>
       	<param-name>authURL</param-name>
   	<param-value>http://@session_server@/sessionservice/servlet/SessionService</param-value>
    </context-param>
    <context-param>
    	<param-name>logURL</param-name>
        <param-value>http://@log_server@/logservice/servlet/LogServer</param-value>
    </context-param>
    
     <servlet>
          <servlet-name>ViewBulletin</servlet-name>
          <description>
          This servlet is used for display bulletin
          </description>
          <servlet-class>org.ei.bulletins.ViewBulletin</servlet-class>
          <init-param>
          	<param-name>logURL</param-name>
        	<param-value>http://@log_server@/logservice/servlet/LogServer</param-value>
          </init-param>
          <init-param>
          	<param-name>authURL</param-name>
   		<param-value>http://@session_server@/sessionservice/servlet/SessionService</param-value>
          </init-param>
          <init-param>
	        <param-name>appName</param-name>
	        <param-value>EngVillage2</param-value>
          </init-param>
          <init-param>
	         <param-name>bulletinFileLocation</param-name>
	         <param-value>c:/tmp/data</param-value>
    	</init-param>
    </servlet>
    <servlet>
      <servlet-name>ConnectionPoolService</servlet-name>
      <description>
      This servlet starts the connection pool
      </description>
      <servlet-class>org.ei.connectionpool.ConnectionPoolService</servlet-class>
      <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
      <servlet-name>ConfigService</servlet-name>
      <description>
        This is servlet handles references to config files
      </description>
      <servlet-class>org.ei.config.ConfigService</servlet-class>
      <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
    <servlet-name>HeartbeatService</servlet-name>
      <description>
        The Heartbeat Service
    </description>
      <servlet-class>org.ei.system.HeartbeatService</servlet-class>
      <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>HeartbeatService</servlet-name>
        <url-pattern>/servlet/HeartbeatService</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
            <servlet-name>ViewBulletin</servlet-name>
            <url-pattern>/servlet/ViewBulletin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ConfigService</servlet-name>
        <url-pattern>/servlet/ConfigService</url-pattern>
    </servlet-mapping>

    <session-config>
      <session-timeout>0</session-timeout>    <!-- 30 minutes -->
    </session-config>
</web-app>






