<!DOCTYPE web-app 
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" 
	"http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
    <!-- General description of your web application -->

    <display-name>Session Service</display-name>
    <description>
    This is the session session service
    </description>
    <servlet>
      <servlet-name>ConnectionPoolService</servlet-name>
      <description>
      This servlet starts the connection pool
      </description>
      <servlet-class>org.ei.connectionpool.ConnectionPoolService</servlet-class>
      <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
    	<servlet-name>SessionService</servlet-name>
    	<description>This servlet returns a user based on several parameters</description>
    	<servlet-class>org.ei.session.SessionService</servlet-class>
    	<init-param>
    		<param-name>expireIn</param-name>
    		<param-value>1800000</param-value>
    	</init-param>
    	<load-on-startup>2</load-on-startup>
	</servlet>
    <servlet>
    <servlet-name>HeartbeatService</servlet-name>
      <description>
        The Heartbeat Service
    </description>
      <servlet-class>org.ei.system.HeartbeatService</servlet-class>
      <load-on-startup>3</load-on-startup>
    </servlet>
    
    <servlet>
	<servlet-name>HealthCheck</servlet-name>
	<description>Health Check Service</description>
	<servlet-class>org.ei.system.HealthCheck</servlet-class>
	<load-on-startup>4</load-on-startup>
    </servlet>
    
    <servlet>
	<servlet-name>LindaHallService</servlet-name>
	<description>This servlet returns a LhlUserInfo (Linda Hall) Object based on customerID and contractID</description>
	<servlet-class>org.ei.backoffice.LindaHallService</servlet-class>
	<load-on-startup>5</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>HeartbeatService</servlet-name>
        <url-pattern>/servlet/HeartbeatService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HealthCheck</servlet-name>
        <url-pattern>/servlet/HealthCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionService</servlet-name>
        <url-pattern>/servlet/SessionService</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
	<servlet-name>LindaHallService</servlet-name>
	<url-pattern>/servlet/LindaHallService</url-pattern>
    </servlet-mapping>
    <session-config>
      <session-timeout>0</session-timeout>    <!-- 30 minutes -->
    </session-config>
</web-app>

