
#toc {
  clear:both;
  padding:0px;
  margin:0px;
}

#toc ul
{
  list-style-position: inside;
  margin:0px;
  padding:0px;
}
#toc li
{
  margin-left:0px;
}
/* Indent Nested lists more than top level */
#toc ul ul
{
  margin-left:25px;
}

#toc a
{
  font-size:11px;
  font-family:arial,verdana,geneva;
}

#bookcloud { text-align: justify; width: 100%;}
#bookCloud a { text-decoration: none; }
#bookCloud a:hover {background: #CCC;}
#bookCloud a.booktag1 { font-size: 1.0em; font-weight: 400; }
#bookCloud a.booktag2 { font-size: 1.4em; font-weight: 600; }
#bookCloud a.booktag3 { font-size: 1.8em; font-weight: 800; }

/* Tag Groups  */
#bookcloud .t {background:  #eee url(/engresources/tagimages/dot.gif) 0 0 repeat-x;}
#bookcloud .b {background: url(/engresources/tagimages/dot.gif) 0 100% repeat-x}
#bookcloud .l {background: url(/engresources/tagimages/dot.gif) 0 0 repeat-y}
#bookcloud .r {background: url(/engresources/tagimages/dot.gif) 100% 0 repeat-y}
#bookcloud .blc {background: url(/engresources/images/t_blc.gif) 0 100% no-repeat; }
#bookcloud .brc {background: url(/engresources/images/t_brc.gif) 100% 100% no-repeat;  }
#bookcloud .tlc {background: url(/engresources/images/t_tlc.gif) 0 0 no-repeat; }
#bookcloud .trc {background: url(/engresources/images/t_trc.gif) 100% 0 no-repeat; }