
html, body {
	color:white;
	height:100%;
	font-family:verdana, sans-serif
}

* {
	margin:0px;
	padding:0px;
}

* p {
	padding-bottom:5px;
	padding-top:5px;
}


p, li {
	font-size:11px; color:gray; font-family:verdana, sans-serif;
}

dl, dd {
	/* nothing yet */
}

ul, li {
	list-style:inside;
	list-style-type:disc;
	padding-bottom:1px;
	padding-top:1px;
	line-height:1.8;
}

input, option, select {
	font-family:verdana, sans-serif;
}

form {
	margin:0px;
	padding:0px;
}

#evlogo {
	margin-bottom:0.10in;
	margin-top:0.10in;
	margin-left:0.25in;
}

h1 {
	background:url(/engresources/images/ev2logo5.gif) no-repeat;
	overflow:hidden;
	width:250px;
	height:46px;
}
h1 span {
	visibility:hidden;
}
h1 a {
	display:block;
	text-decoration:none;
	width:250px;
	height:46px;
}

h2 {
	background:url(/engresources/images/welcome_header.gif) no-repeat;
	overflow:hidden;
	width:304px;
	height:21px;
}
h2 span {
	visibility:hidden;
}
h2 a {
	display:block;
	text-decoration:none;
	width:304px;
	height:21px;
}

#contentmain {
	margin-right:0.25in;
	margin-left:0.25in;
}

#welcome {
	margin-top:0.10in;
	float:left;
	width:60%;
}

#content_right {
	float:left;
	border-left: 1px dotted gray;
	padding-left:0.10in;
}

#regusers {
	margin-top:0.10in;
	border: 1px solid #AFBD21;
	padding:0.10in;
	width:256px;
}

#regusers dt {
	background:url(/engresources/images/registered_users_header.gif) no-repeat transparent;
}
#regusers dt span {
	visibility:hidden;
}

#evoptions {
	float:left;
	margin-top:0.10in;
}

#evoptions h3 {
	margin-top:0.10in;
	margin-bottom:0.10in;
}


#nav_buy h3 {
	background:url(/engresources/images/daypass_button_thin.gif) no-repeat;
	width:256px;
	height:38px;
}
#nav_buy h3 span {
	visibility:hidden;
}
#nav_buy h3 a {
	display:block;
	text-decoration:none;
	width:256px;
	height:38px;
}

#nav_tour h3 {
	background:url(/engresources/images/tour_button_thin.gif) no-repeat;
	width:256px;
	height:38px;
}
#nav_tour h3 span {
	visibility:hidden;
}
#nav_tour h3 a {
	display:block;
	text-decoration:none;
	width:256px;
	height:38px;
}

#nav_trial h3 {
	background:url(/engresources/images/freetrial2.gif) no-repeat;
	width:128px;
	height:50px;
}
#nav_trial h3 span {
	visibility:hidden;
}
#nav_trial h3 a {
	display:block;
	text-decoration:none;
	width:128px;
	height:50px;
}

#learnabout {
	margin-right: 0.25in;
	margin-left: 0.25in;
	padding-top: 0.10in;
	border-top: 1px dotted gray;
	clear: both;
}
#learnabout #leftside dt {
	background:url(/engresources/images/ev_provides_header.gif) no-repeat transparent;
}
#learnabout dt span {
	height:20px;
	visibility:hidden;
}

#learnabout dl {
	width:45%;
	float:left;
}

.green_border {
	clear:both;
	display:block;
	border-top:1px solid #AFBD21;
	width:100%;
}
