.EvHeaderText			{font-size: 15px; font-family:arial,verdana,geneva; color:#014D99; font-weight:bold;}
.SpLink				{font-size: 11px; font-family:arial,verdana,geneva; color:#003399;}
.SpBoldLink			{font-size: 11px; font-family:arial,verdana,geneva; color:#003399; font-weight: bold;}
.SpItalicLink			{font-size: 11px; font-family:arial,verdana,geneva; color:#003399; font-style: italic;}
.SpBoldItalicLink		{font-size: 11px; font-family:arial,verdana,geneva; color:#003399; font-weight: bold; font-style: italic;}
.SmBoldBlueText            	{font-size: 11px; font-family:arial,verdana,geneva; color:#000099; font-weight: bold;}
.SmBoldBlueText2           	{font-size: 11px; font-family:arial,verdana,geneva; color:#0000FF; font-weight: bold;}
.BoldBlueText            	{font-size: 12px; font-family:arial,verdana,geneva; color:#507888; font-weight: bold;}
.ExSmBlueText            	{font-size: 10px; font-family:arial,verdana,geneva; color:#194DB5; font-weight: bold;}
.SmBlueText            		{font-size: 11px; font-family:arial,verdana,geneva; color:#194DB5;}
.BlueText            		{font-size: 12px; font-family:arial,verdana,geneva; color:#003399;}
.DBlueText			{font-size: 14px; font-family:arial,verdana,geneva; color:#003FB2;}
.LBlueText            		{font-size: 11px; font-family:arial,verdana,geneva; color:#3333FF;}
.LgBlueText			{font-size: 12px; font-family:arial,verdana,geneva; color:#003399;}
.SmPinkText                     {font-size: 11px; font-family:arial,verdana,geneva; color:#CC33CC;}
.SmGreenText                	{font-size: 11px; font-family:arial,verdana,geneva; color:#05C400;}
.SmOrangeText	                {font-size: 11px; font-family:arial,verdana,geneva; color:#ff7800;}
.SmPurpleText                	{font-size: 11px; font-family:arial,verdana,geneva; color:#AE00FF;}
.SmGreyText			{font-size: 11px; font-family:arial,verdana,geneva; color:#999999;}
.ExSmPinkText                   {font-size: 10px; font-family:arial,verdana,geneva; color:#CC33CC;}
.SmLBlueText                    {font-size: 11px; font-family:arial,verdana,geneva; color:#0099FF;}
.SmRedText            		{font-size: 11px; font-family:arial,verdana,geneva; color:#FF3300;}
.ExSmRedText            	{font-size: 11px; font-family:arial,verdana,geneva; color:#FF3300;}
.SmBlackText                    {font-size: 11px; font-family:arial,verdana,geneva; color:#000000;}
.ExSmBlackText            	{font-size: 10px; font-family:arial,verdana,geneva; color:#000000; font-weight:bold;}
.MedBlackText            	{font-size: 12px; font-family:arial,verdana,geneva; color:#000000;}
.LgBlackText            	{font-size: 14px; font-family:arial,verdana,geneva; color:#000000;}
.RedText            		{font-size: 12px; font-family:arial,verdana,geneva; color:#FF3300;}
.YellowText            		{font-size: 12px; font-family:arial,verdana,geneva; color:#FFFF00;}
.WhiteText		     	{font-size: 12px; font-family:arial,verdana,geneva; color:#FFFFFF;}
.SmWhiteText          		{font-size: 11px; font-family:arial,verdana,geneva; color:#ffffff;}
.MedWhiteText          		{font-size: 11px; font-family:arial,verdana,geneva; color:#ffffff; font-weight: bold;}
.LgWhiteText          		{font-size: 12px; font-family:arial,verdana,geneva; color:#ffffff; font-weight: bold;}
.SmBlueTableText            	{font-size: 11px; font-family:arial,verdana,geneva; color:#003399; font-weight: bold;}
.LgOrangeText			{font-size: 14px; font-family:arial,verdana,geneva; color:#E75E03;}
.MedOrangeText			{font-size: 12px; font-family:arial,verdana,geneva; color:#E75E03;}
.BigBlackText			{font-size: 14px; font-family:arial,verdana,geneva; color:#3173b5; font-weight:bold;}
.BrownText			{font-size: 12px; font-family:arial,verdana,geneva; color:#7F007F;}
.XBlackText			{font-size: 18px; font-family:arial,verdana,geneva; color:#3173b5;}
.size1 				{ font-size: 80%; font-family:arial,verdana,geneva; text-decoration: none;}
.size2 				{ font-size: 120%; font-family:arial,verdana,geneva; text-decoration: none;}
.size3 				{ font-size: 160%; font-family:arial,verdana,geneva; text-decoration: none;}
.size4 				{ font-size: 200%; font-family:arial,verdana,geneva; text-decoration: none;}
.size5 				{ font-size: 200%; font-family:arial,verdana,geneva; text-decoration: none;}
.TagSimple                      { font-size: 12px; font-family:arial,verdana,geneva; text-decoration: none;}

.BigBlackTxt3			{font-size: 15px; font-family:arial,verdana,geneva; color:#014D99; font-weight:bold;}
.wrap		 		{ display: inline; white-space: nowrap;}
.dot     { color: #666666; text-decoration: none; font-family:arial,verdana,geneva; font-size: 14px;}
.lb { color: #77f; }
.lr { color: #f77; }
.r { color: #f00 !important; }

A.SmBlueLink:link				{font-size: 10px; font-family:arial,verdana,geneva; color:#0000FF;}
A.SmBlueLink:active				{font-size: 10px; font-family:arial,verdana,geneva; color:#FF0055;}
A.SmBlueLink:visited				{font-size: 10px; font-family:arial,verdana,geneva; color:#800080;}
A.MedBlueLink:link				{font-size: 11px; font-family:arial,verdana,geneva; color:#0000FF;}
A.MedBlueLink:active				{font-size: 11px; font-family:arial,verdana,geneva; color:#FF0055;}
A.MedBlueLink:visited				{font-size: 11px; font-family:arial,verdana,geneva; color:#0000FF;}
A.LgBlueLink:link				{font-size: 12px; font-family:arial,verdana,geneva; color:#0000FF;}
A.LgBlueLink:active				{font-size: 12px; font-family:arial,verdana,geneva; color:#FF0055;}
A.LgBlueLink:visited				{font-size: 12px; font-family:arial,verdana,geneva; color:#0000FF;}
A.SpLink:link				{font-size: 11px; font-family:arial,verdana,geneva; color:#003399;}
A.SpLink:active				{font-size: 11px; font-family:arial,verdana,geneva; color:#FF3300;}
A.SpLink:visited				{font-size: 11px; font-family:arial,verdana,geneva; color:#CC6600;}
A.WhiteLink:Link				{font-size: 12px; font-family:arial,verdana,geneva; color:#FFFFFF;}
A.WhiteLink:active				{font-size: 12px; font-family:arial,verdana,geneva; color:#FF0055;}
A.WhiteLink:visited				{font-size: 12px; font-family:arial,verdana,geneva; color:#CCCCCC;}
A.MedWhiteLink:Link				{font-size: 11px; font-family:arial,verdana,geneva; color:#FFFFFF;}
A.MedWhiteLink:active				{font-size: 11px; font-family:arial,verdana,geneva; color:#FF0055;}
A.MedWhiteLink:visited				{font-size: 11px; font-family:arial,verdana,geneva; color:#FFFFFF;}
A.LgWhiteLink:Link				{font-size: 12px; font-family:arial,verdana,geneva; color:#FFFFFF;}
A.LgWhiteLink:active				{font-size: 12px; font-family:arial,verdana,geneva; color:#FF0055;}
A.LgWhiteLink:visited				{font-size: 12px; font-family:arial,verdana,geneva; color:#FFFFFF;}

A.NavTitle {font-size: 12px; font-family:arial,verdana,geneva; color:#E75E03; text-decoration: none; font-weight:bold;}

A.DecLink:link 		{font-size: 10px; font-family:arial,verdana,geneva; color:#0000FF; text-decoration: none;}
A.DecLink:active 		{font-size: 10px; font-family:arial,verdana,geneva; color:#FF0055; text-decoration: none;}
A.DecLink:visited		 {font-size: 10px; font-family:arial,verdana,geneva; color:#0000FF; text-decoration: none;}
A.DecLink:hover		{font-size: 10px; font-family:arial,verdana,geneva; color:#0000FF; text-decoration: underline;}

A.Invite:link 			{font-size:10px; font-family:arial,verdana,geneva; color:#94B318; font-weight:bold; text-decoration:none;}
A.Invite:active 		{font-size:10px; font-family:arial,verdana,geneva; color:#94B318; font-weight:bold; text-decoration:none;}
A.Invite:visited		{font-size:10px; font-family:arial,verdana,geneva; color:#94B318; font-weight:bold; text-decoration:none;}
A.Invite:hover			{font-size:10px; font-family:arial,verdana,geneva; color:#0000FF; font-weight:bold; text-decoration:underline;}

A.OverLink:link 		{font-size: 11px; font-family:arial,verdana,geneva; color:#0000FF; font-weight:bold; text-decoration:underline;}
A.OverLink:visited		 {font-size: 11px; font-family:arial,verdana,geneva; color:#0000FF; font-weight:bold; text-decoration:underline;}
A.OverLink:hover		{font-size: 11px; font-family:arial,verdana,geneva; color:#0000FF; font-weight:bold; text-decoration: underline; background-color:#FFCC33;}

A.qLink:link 		{font-size: 11px; font-family:arial,verdana,geneva; color:#0000FF; font-weight:bold; text-decoration:none;}
A.qLink:visited		 {font-size: 11px; font-family:arial,verdana,geneva; color:#0000FF; font-weight:bold; text-decoration:none;}
A.qLink:hover		{font-size: 11px; font-family:arial,verdana,geneva; color:#0000FF; font-weight:bold; text-decoration: none;}

A.SrtLink:link 		{font-size: 11px; font-family:arial,verdana,geneva; color:#0000FF; text-decoration:none;}
A.SrtLink:visited		 {font-size: 11px; font-family:arial,verdana,geneva; color:#0000FF; text-decoration:none;}
A.SrtLink:hover		{font-size: 11px; font-family:arial,verdana,geneva; color:#0000FF; text-decoration: underline;}

A.Referex:link				{font-size: 12px; font-family:arial,verdana,geneva; color:#003399;}
A.Referex:visited			{font-size: 12px; font-family:arial,verdana,geneva; color:#003399;}

A.RollLink:link 		{font-size: 12px; font-family:arial,verdana,geneva; color:#0000FF; text-decoration: none;}
A.RollLink:visited		 {font-size: 12px; font-family:arial,verdana,geneva; color:#800080; text-decoration: none;}
A.RollLink:hover		{font-size: 12px; font-family:arial,verdana,geneva; color:#FF0055; text-decoration: underline;}


Select { font-family:arial,verdana,geneva; font-size: 11px; }
Input { font-family:arial,verdana,geneva; font-size: 12px; }


/* Tag Groups  */
.m {background: url(/engresources/images/sp.gif) 0 0 repeat-y; width:45px;}
.t {background: url(/engresources/tagimages/dot.gif) 0 0 repeat-x; width: 200px;}
.b {background: url(/engresources/tagimages/dot.gif) 0 100% repeat-x}
.l {background: url(/engresources/tagimages/dot.gif) 0 0 repeat-y}
.rc {background: url(/engresources/tagimages/dot.gif) 100% 0 repeat-y}
.bl {background: url(/engresources/tagimages/bl.gif) 0 100% no-repeat}
.br {background: url(/engresources/tagimages/br.gif) 100% 100% no-repeat}
.tl {background: url(/engresources/tagimages/tl.gif) 0 0 no-repeat}
.trc {background: url(/engresources/tagimages/trc.gif) 100% 0 no-repeat}

.im {background: url(/engresources/images/sp.gif) repeat-y; padding:5px;}

.idev {background: url(/engresources/tagimages/dot.gif) 0 100% repeat-x}
.isp {background: url(/engresources/images/sp.gif) 0 100% repeat-x }

#searchtitle {font-family:arial,verdana,geneva;  font-size: 14px; color: #6c8dac;
padding-bottom: 6px;}

.mouseOut
{
background: #708090;
color: #FFFAFA;
}

.mouseOver
{
background: #FFFAFA;
color: #000000;

}
body {font-family:arial,verdana,geneva;
  margin: 0; padding: 0; background: #FFF;}

#content {width: 650px; position: relative; top: 10px; left: 230px; margin-bottom: 80px;}


#groups {font-family:arial,verdana,geneva;  font-size: 12px; color: 000;
 margin: 0; padding: 0; text-decoration: none;}

#groups a {font-family:arial,verdana,geneva;  font-size: 10px;
  color: #2c68ac; text-decoration: none;}
#groups a:link {color: #2c68ac;}
#groups a:visited {color: #2c68ac;}
#groups a:focus {color: #FF6600;}
#groups a:hover {color: #FF6600;}
#groups a:active {color: #FF6600;}

#groups_red {font-family:arial,verdana,geneva;  font-size: 16px; font-weight: bold; color: ff0000;
 margin: 0; padding: 0; text-decoration: none;}
#groups_orange {font-family:arial,verdana,geneva;  font-size: 16px; font-weight: bold; color: ff9900;
 margin: 0; padding: 0; text-decoration: none;}
#groups_lightgreen {font-family:arial,verdana,geneva;  font-size: 16px; font-weight: bold; color: 99cc00;
 margin: 0; padding: 0; text-decoration: none;}
#groups_green {font-family:arial,verdana,geneva;  font-size: 16px; font-weight: bold; color: 329966;
 margin: 0; padding: 0; text-decoration: none;}
#groups_turquoise {font-family:arial,verdana,geneva;  font-size: 16px; font-weight: bold; color: 32cccc;
 margin: 0; padding: 0; text-decoration: none;}
#groups_blue {font-family:arial,verdana,geneva;  font-size: 16px; font-weight: bold; color: 3265ff;
 margin: 0; padding: 0; text-decoration: none;}
#groups_purple {font-family:arial,verdana,geneva;  font-size: 16px; font-weight: bold; color: 800080;
 margin: 0; padding: 0; text-decoration: none;}
#groups_gray {font-family:arial,verdana,geneva;  font-size: 16px; font-weight: bold; color: 999999;
 margin: 0; padding: 0; text-decoration: none;}

#tags_red {font-family:arial,verdana,geneva;  font-size: 12px; color: ff0000;
margin: 0; padding: 0; text-decoration: none;}
#tags_orange {font-family:arial,verdana,geneva;  font-size: 12px; color: ff9900;
margin: 0; padding: 0; text-decoration: none;}
#tags_lightgreen {font-family:arial,verdana,geneva;  font-size: 12px; color: 99cc00;
margin: 0; padding: 0; text-decoration: none;}
#tags_green {font-family:arial,verdana,geneva;  font-size: 12px; color: 329966;
margin: 0; padding: 0; text-decoration: none;}
#tags_turquoise {font-family:arial,verdana,geneva;  font-size: 12px; color: 32cccc;
margin: 0; padding: 0; text-decoration: none;}
#tags_blue {font-family:arial,verdana,geneva;  font-size: 12px; color: 3265ff;
margin: 0; padding: 0; text-decoration: none;}
#tags_purple {font-family:arial,verdana,geneva;  font-size: 12px; color: 800080;
margin: 0; padding: 0; text-decoration: none;}
#tags_gray {font-family:arial,verdana,geneva;  font-size: 12px; color: 999999;
margin: 0; padding: 0; text-decoration: none;}


#sidebar {width: 200px; height: 80px; position: relative; top: 50px; left: 10px;}


#page_title {font-family:arial,verdana,geneva;  font-size: 24px; color: #6c8dac;
 margin: 0; padding: 0; text-decoration: none;}

.taggroup_title {font-family:arial,verdana,geneva;  font-size: 18px; color: #6c8dac;
 margin: 0; padding: 0; text-decoration: none;}

.tag_title {font-family:arial,verdana,geneva;  font-size: 18px; color: #6c8dac;
 margin: 0; padding: 0; text-decoration: none;}

 .groups_gray {font-family:arial,verdana,geneva;  font-size: 14px; color: #6c8dac;
 margin: 0; padding: 0; text-decoration: none;}

.SmBlackTextAJAX {font-size: 11px; font-family:arial,verdana,geneva; color:#000000; text-indent-left:5px;}

.MedGreyTextTag {font-size: 12px; font-family:arial,verdana,geneva; color:#666666;}

.TextGroups {font-weight: bold; font-size: 14px; font-family:arial,verdana,geneva;}

#ftimg { vertical-align: bottom; width:55px; height:13px; border:0px solid black; }
