<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/evdataloadreport-HTML/src/main/java/org/ei/HTMLReport.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.ei.HTMLReport"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="201553&#13;&#10;jdbc:oracle:thin:@localhost:15212:eid&#13;&#10;2015"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="evdataloadreport-HTML"/>
</launchConfiguration>
